edi_energy_de/current/ActivationDocumentXSD-informatorischeLesefassung1.0a_20230331_20220401.xsd

<!-- Diese XSD-Datei dient als informatorische Lesefassung und baut auf den konsultierten Formatbeschreibungen und Anwendungstabellen der XML-Datenformate für den Redispatch 2.0 auf. 
Diese XSD-Datei wird bis auf Weiteres rein informatorisch und ergänzend veröffentlicht. Der BDEW behält sich vor, in Zukunft eine kostenpflichtige Veröffentlichung der XSD-Datei einzuführen. -->
<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ecc="urn:entsoe.eu:wgedi:components"
    xmlns="urn:entsoe.eu:wgedi:errp:activationdocument:5:0"
    targetNamespace="urn:entsoe.eu:wgedi:errp:activationdocument:5:0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
  <xsd:import namespace="urn:entsoe.eu:wgedi:components" schemaLocation="../00_Ressourcenschemas_v72/urn-entsoe-eu-wgedi-components.xsd"/>
  <xsd:element name="ActivationDocument">
    <xsd:annotation>
      <xsd:documentation source="Dokumentation">Ausgabe</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DocumentIdentification" type="ecc:IdentificationType">
          <xsd:annotation>
            <xsd:documentation xml:lang="DE" source="Desc">Die DocumentIdentification hat je Absender und je Dokumententyp eindeutig zu sein. Bei der Bildung der Identifikation ist auf Groß- und Kleinschreibung zu achten (case-sensitive).</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="DocumentVersion" type="ecc:VersionType">
          <xsd:annotation>
            <xsd:documentation xml:lang="DE" source="Desc">Die Versionsnummer des jeweiligen Dokumentes, beginnend mit 1.</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="DocumentType" type="ecc:DocumentType">
          <xsd:annotation>
            <xsd:documentation xml:lang="DE" source="Desc">Kennzeichnet den Typ des Dokumentes, der im Abrufprozesss verwendet wird.</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ProcessType" type="ecc:ProcessType" minOccurs="1">
          <xsd:annotation>
            <xsd:documentation xml:lang="DE" source="Desc">Kennzeichnet die Zuordnung zum Geschäftsprozess. </xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="SenderIdentification" type="ecc:PartyType">
          <xsd:annotation>
            <xsd:documentation xml:lang="DE" source="Desc">Dieses Element dient zur eindeutigen Identifikation des Senders über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer - den jeweiligen Identifikator vergebenden -  Organisation gehören muss.</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="SenderRole" type="ecc:RoleType">
          <xsd:annotation>
            <xsd:documentation xml:lang="DE" source="Desc">Dieses Element dient zur Angabe der Marktrolle des Absenders.</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ReceiverIdentification" type="ecc:PartyType">
          <xsd:annotation>
            <xsd:documentation xml:lang="DE" source="Desc">Dieses Element dient zur eindeutigen Identifikation des Empfängers über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer - den jeweiligen Identifikator vergebenden - Organisation gehören muss.</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ReceiverRole" type="ecc:RoleType">
          <xsd:annotation>
            <xsd:documentation xml:lang="DE" source="Desc">Dieses Element dient zur Angabe der Marktrolle des Empfängers.</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CreationDateTime" type="ecc:DateTimeType">
          <xsd:annotation>
            <xsd:documentation xml:lang="DE" source="Desc">
Hier ist der Erzeugungszeitpunkt des Dokuments anzugeben. Die Zeitangabe erfolgt in UTC. 
Der Zeitpunkt ist immer im Format yyyy-mm-ddThh:mm:ssZ anzugeben, mit:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
T, Z Zeichen, die an den entsprechenden Stellen zwingend anzugeben sind.
            </xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ActivationTimeInterval" type="ecc:TimeIntervalType">
          <xsd:annotation>
            <xsd:documentation xml:lang="DE" source="Desc">
Hier erfolgt die Angabe des Zeitintervalls für das Dokument (immer vollständige Tage). 
Die Angabe erfolgt im UTC-Format yyyy-mm-ddThh:mmZ/yyyy-mm-ddThh:mmZ:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
T, Z, / Zeichen, die an den entsprechenden Stellen zwingend anzugeben sind.
            </xsd:documentation>
            <xsd:documentation xml:lang="DE" source="Remark">Erfüllungstag in UTC</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="OrderIdentification" type="ecc:IdentificationType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="DE" source="Desc">In diesem Element wird die Identifikation des ACO-Dokuments (DocumentIdentification) angegeben, auf das sich das ACR-Dokument bezieht. In allen anderen Fällen wird das Element nicht verwendet.</xsd:documentation>
            <xsd:documentation source="Abhängigkeit">nur bei DocumentType A41 (ACR)</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="OrderIdentificationVersion" type="ecc:VersionType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="DE" source="Desc">In diesem Element wird die DocumentVersion des ACO-Dokuments angegeben, auf das sich das ACR-Dokument bezieht. In allen anderen Fällen wird das Element nicht verwendet.</xsd:documentation>
            <xsd:documentation source="Abhängigkeit">nur bei DocumentType A41 (ACR)</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ActivationTimeSeries" type="ActivationTimeSeries_Type" maxOccurs="2">
          <xsd:annotation>
            <xsd:documentation xml:lang="DE" source="Desc">Enthält die Abrufdaten fürdas jeweilige RessourceObject (Steuerbare/Cluster Ressource), auf die sich eine RD-Maßnahme bezieht.</xsd:documentation>
            <xsd:documentation xml:lang="DE" source="Remark">Alle Zeitreihen in dieser Datei müssen sich auf das gleiche RessourceObject beziehen. Diese sind je Richtung getrennt anzulegen.</xsd:documentation>
            <xsd:documentation source="Dokumentation">Ausgabe</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="DtdBDEWNachrichtenVersion" type="xsd:string" fixed="1.0a"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ActivationTimeSeries_Type">
    <xsd:sequence>
      <xsd:element name="AllocationIdentification" type="ecc:IdentificationType"/>
      <xsd:element name="ResourceProvider" type="ecc:PartyType"/>
      <xsd:element name="BusinessType" type="ecc:BusinessType"/>
      <xsd:element name="AcquiringArea" type="ecc:AreaType"/>
      <xsd:element name="ConnectingArea" type="ecc:AreaType"/>
      <xsd:element name="MeasureUnit" type="ecc:UnitOfMeasureType"/>
      <xsd:element name="Direction" type="ecc:DirectionType"/>
      <xsd:element name="Status" type="ecc:StatusType"/>
      <xsd:element name="ResourceObject" type="ecc:ResourceObjectType" minOccurs="1"/>
      <xsd:element name="SendersDocumentIdentification" type="ecc:IdentificationType" minOccurs="0"/>
      <xsd:element name="SendersDocumentVersion" type="ecc:VersionType" minOccurs="0"/>
      <xsd:element name="SendersDocumentDateTime" type="ecc:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Desc">
Das Format yyyy-mm-ddThh:mm:ssZ ist anzugeben mit: 
 
yyyy vier Ziffern für die Jahresangabe 
mm zwei Ziffern für die Monatsangabe 
dd zwei Ziffern für die Tagesangabe 
hh zwei Ziffern für die Stundenangabe mm zwei Ziffern für die Minutenangabe 
ss zwei Ziffern für die Sekundenangabe 
T Trennzeichen zwischen Datum und Uhrzeit 
Z Verweis auf UTC
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SendersTimeSeriesIdentification" type="ecc:IdentificationType" minOccurs="0"/>
      <xsd:element name="OriginalSenderIdentification" type="ecc:PartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Remark">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OriginalDocumentIdentification" type="ecc:IdentificationType" minOccurs="0"/>
      <xsd:element name="OriginalDocumentVersion" type="ecc:VersionType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Remark">Wert zwischen/incl. 1 und 999 gemäß Pattern</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OriginalDocumentDateTime" type="ecc:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Desc">
Das Format yyyy-mm-ddThh:mm:ssZ ist anzugeben mit: 
 
yyyy vier Ziffern für die Jahresangabe 
mm zwei Ziffern für die Monatsangabe 
dd zwei Ziffern für die Tagesangabe 
hh zwei Ziffern für die Stundenangabe mm zwei Ziffern für die Minutenangabe 
ss zwei Ziffern für die Sekundenangabe 
T Trennzeichen zwischen Datum und Uhrzeit 
Z Verweis auf UTC
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OriginalAllocationIdentification" type="ecc:IdentificationType" minOccurs="0"/>
      <xsd:element name="Period" type="Period_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Reason" type="Reason_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Interval_Type">
    <xsd:sequence>
      <xsd:element name="Pos" type="ecc:PositionType"/>
      <xsd:element name="Qty" type="ecc:QuantityType"/>
      <xsd:element name="Reason" type="Reason_Type" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Period_Type">
    <xsd:sequence>
      <xsd:element name="TimeInterval" type="ecc:TimeIntervalType">
        <xsd:annotation>
          <xsd:documentation source="Abhängigkeit">Das Zeitintervall muss der Angabe im Element TimePeriodCovered entsprechen und sich innerhalb des durch das Element TimePeriodCovered definierten Zeitraums der Nachricht befinden. Der Startzeitpunkt des TimeIntervals ist spätestens die nächste volle Viertelstunde (basierend auf DocumentDateTime) und frühestens der Startzeitpunkt der TimePeriodCovered. Der Endzeitpunkt des TimeIntervals entspricht immer dem Endzeitpunkt der TimePeriodCovered.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Resolution" type="ecc:ResolutionType"/>
      <xsd:element name="Interval" type="Interval_Type" minOccurs="92" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Reason_Type">
    <xsd:sequence>
      <xsd:element name="ReasonCode" type="ecc:ReasonCodeType"/>
      <xsd:element name="ReasonText" type="ecc:ReasonTextType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
