edi_energy_de/current/urn-entsoe-eu-wgedi-components-informatorischeLesefassung(ENTSO-EVersion72)_99991231_20211001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--edited with XMLSpy v2008 sp1 (http://www.altova.com) by Michael Conroy (TEDIOR SARL)-->
<!--edited with XML Spy v4.4 (http://www.xmlspy.com) by Michael Conroy (SEMA)-->
<!--List of ETSO Core Components which are used in the development of ETSO XML Messages-->
<!--Current Version: 22-->
<!--Current Release: 0-->
<!--ET0050-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ecl="urn:entsoe.eu:wgedi:codelists"
    xmlns:ecc="urn:entsoe.eu:wgedi:components"
    targetNamespace="urn:entsoe.eu:wgedi:components"
    elementFormDefault="qualified">
  <xsd:import namespace="urn:entsoe.eu:wgedi:codelists" schemaLocation="urn-entsoe-eu-wgedi-codelists.xsd"/>
  <xsd:complexType name="AllocationModeType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0040</xsd:documentation>
      <xsd:documentation source="Definition">Identification of the method of allocation in an auction.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:AllocationModeTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="AmountType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0022</xsd:documentation>
      <xsd:documentation source="Definition">The monetary value of an object</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="17"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="AreaType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0009</xsd:documentation>
      <xsd:documentation source="Definition">A domain covering a number of related objects, such as balance area, grid area, etc.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="codingScheme" type="ecl:CodingSchemeType" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="AssetType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0031</xsd:documentation>
      <xsd:documentation source="Definition">Identification of the type of asset</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:AssetTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="AuctionType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0030</xsd:documentation>
      <xsd:documentation source="Definition">The coded representation of different types of auction.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:AuctionTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="BusinessType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0017</xsd:documentation>
      <xsd:documentation source="Definition">The exact business nature identifying the principal characteristic of a time series.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:BusinessTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="CategoryType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0037</xsd:documentation>
      <xsd:documentation source="Definition">The product category of an auction.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:CategoryTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ClassificationType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0013</xsd:documentation>
      <xsd:documentation source="Definition">Indicates the classification mechanism used to group a set of objects together. The grouping may be of a detailed or a summary nature</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:ClassificationTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="CodeType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0023</xsd:documentation>
      <xsd:documentation source="Definition">the coded representation of an object.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="ComponentNameType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0046</xsd:documentation>
      <xsd:documentation source="Definition">The identification of an attribute for a given Component.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="70"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="ComponentValueType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0047</xsd:documentation>
      <xsd:documentation source="Definition">The value of a given component.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="150"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="codingScheme" type="ecl:CodingSchemeType" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="ContractType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0010</xsd:documentation>
      <xsd:documentation source="Definition">The contract type defines the conditions under which the capacity is allocated and handled. EG: daily auction, weekly auction, monthly auction, yearly auction, etc. The significance of this type is dependent on area specific coded working methods</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:ContractTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="CurrencyType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0024</xsd:documentation>
      <xsd:documentation source="Definition">The coded identification of legal tender using ISO 4217 3 alpha codes</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:CurrencyTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="CurveType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0042</xsd:documentation>
      <xsd:documentation source="Definition">The type of curve being defined in the time series.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:CurveTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="DateTimeType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0044</xsd:documentation>
      <xsd:documentation source="Definition">Date and time of a given time point. The time must be expressed in UTC as: YYYY-MM-DDTHH:MM:SSZ</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="xsd:dateTime" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0035</xsd:documentation>
      <xsd:documentation source="Definition">The gregorian date   that must be expressed as: YYYY-MM-DD</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="xsd:date" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="DirectionType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0026</xsd:documentation>
      <xsd:documentation source="Definition">The coded identification of the direction of energy flow.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:DirectionTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="DocumentDateTimeType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0006</xsd:documentation>
      <xsd:documentation source="Definition">(Synonym "Message Date Time") Date and time of the preparation of a document. The time must be expressed in UTC as: YYYY-MM-DDTHH:MM:SSZ</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="xsd:dateTime" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="DocumentType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0003</xsd:documentation>
      <xsd:documentation source="Definition">(Synonym "Document Type") The coded type of a document. The document type describes the principal characteristic of a document. note this code is decrecated and should no longer be used in new messages (use documentType instead))</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:DocumentTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="EicType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0028</xsd:documentation>
      <xsd:documentation source="Definition">The coded identification of the type of an EIC code.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:EicTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="EnergyProductType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0008</xsd:documentation>
      <xsd:documentation source="Definition">The identification of the nature of an energy product such as Power, energy, reactive power, etc.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:EnergyProductTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0001</xsd:documentation>
      <xsd:documentation source="Definition">A code to uniquely distinguish one occurrence of an entity from another</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="35"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="IndicatorType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0029</xsd:documentation>
      <xsd:documentation source="Definition">A boolean indicator to express Yes or No or True or False</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:IndicatorTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="LineType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0050</xsd:documentation>
      <xsd:documentation source="Definition">the identification of a line that may be physical or virtual.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="35"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="codingScheme" type="ecl:CodingSchemeType" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="LongIdentificationType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0043</xsd:documentation>
      <xsd:documentation source="Definition">A code to uniquely distinguish one occurrence of an entity from another with a long identifier</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="150"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="MessageType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0045</xsd:documentation>
      <xsd:documentation source="Definition">(Synonym "Document Type") The coded type of a document. The document type describes the principal characteristic of a document</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:MessageTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="MeteringPointType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0027</xsd:documentation>
      <xsd:documentation source="Definition">A domain covering a number of related objects, such as metering point and accounting point, etc.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="35"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="codingScheme" type="ecl:CodingSchemeType" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ObjectAggregationType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0018</xsd:documentation>
      <xsd:documentation source="Definition">The identification of the domain that is the common dominator used to aggregate a time series.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:ObjectAggregationTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="PartyType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0014</xsd:documentation>
      <xsd:documentation source="Definition">The identification of an actor in the Energy market.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="codingScheme" type="ecl:CodingSchemeType" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="PaymentTermsType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0041</xsd:documentation>
      <xsd:documentation source="Definition">The terms which dictate the determination of the bid payment price.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:PaymentTermsTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="PositionType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0021</xsd:documentation>
      <xsd:documentation source="Definition">(Synonym "pos") A sequential value representing the relative position of an entity within a space such as a time interval</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:integer">
          <xsd:maxInclusive value="999999"/>
          <xsd:minInclusive value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="PriceCategory">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0048</xsd:documentation>
      <xsd:documentation source="Definition">The category of a price to be used in a price calculation. Note: the price category is mutually agreed between System Operators</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:PriceCategoryTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="PriceDirection">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0049</xsd:documentation>
      <xsd:documentation source="Definition">The nature of a price (i.e.an Impacted Area System Operator pays to internal Market Parties or inverse).</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:PriceDirectionTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ProcessType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0020</xsd:documentation>
      <xsd:documentation source="Definition">Indicates the nature of process that the document addresses.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:ProcessTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="QualityType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0036</xsd:documentation>
      <xsd:documentation source="Definition">The quality of an object.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:QualityTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="QuantityType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0012</xsd:documentation>
      <xsd:documentation source="Definition">(Synonym "qty") The quantity of an energy product. Positive quantities shall not have a sign.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="xsd:decimal" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ReasonCodeType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0015</xsd:documentation>
      <xsd:documentation source="Definition">The coded motivation of an act.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:ReasonCodeTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ReasonTextType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0016</xsd:documentation>
      <xsd:documentation source="Definition">The textual explanation of an act.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="512"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="ResolutionType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0019</xsd:documentation>
      <xsd:documentation source="Definition">Defines the number of units of time that compose an individual step within a period. The resolution is expressed in compliance with ISO 8601 in the following format:PnYnMnDTnHnMnS.Where nY expresses a number of years, nM a number of months, nD a number of days.The letter "T" separates the date expression from the time expression and after it nH identifies a number of hours, nM a number of minutes and nS a number of seconds.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="xsd:duration" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ResourceObjectType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0034</xsd:documentation>
      <xsd:documentation source="Definition">The identification of a resource object in the Energy market.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="codingScheme" type="ecl:CodingSchemeType" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="RightsType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0038</xsd:documentation>
      <xsd:documentation source="Definition">The rights of use that is accorded to what is acquired in an auction..</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:RightsTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="RoleType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0005</xsd:documentation>
      <xsd:documentation source="Definition">Identification of the role played by a party.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:RoleTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="StatusType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0025</xsd:documentation>
      <xsd:documentation source="Definition">The condition or position of an object with regard to its standing.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:StatusTypeList" use="required"/>
  </xsd:complexType>
  <xsd:simpleType name="SubValueType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0036</xsd:documentation>
      <xsd:documentation source="Definition">The partial identification of an object, which associated with another value provides the complete identification.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TarifTypeType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0039</xsd:documentation>
      <xsd:documentation source="Definition">The standard tarif types as defined in the UCTE policies.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:TarifTypeTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0032</xsd:documentation>
      <xsd:documentation source="Definition">A textual string</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="700"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="TimeIntervalType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0007</xsd:documentation>
      <xsd:documentation source="Definition">The start date and time and the end date and time of an event. The time interval must be expressed in a form respecting ISO 8601 : YYYY-MM-DDTHH:MMZ/YYYY-MM-DDTHH:MMZ.ISO 8601 rules for reduction may apply. The time must always be expressed in UTC.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:annotation>
        <xsd:documentation>
ISO 8601 time intervals are always expressed in the form 
			yyyy-mm-ddThh:mmZ/yyyy-mm-ddThh:mmZ
			Note: The minimum XML form of dateTime is yyyy-mm-ddThh:mm:ssZ
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="(((((20[0-9]{2})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z/)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z/)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z/))(((([0-9]{4})-(0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)))"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="TimeType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0033</xsd:documentation>
      <xsd:documentation source="Definition">The time within a 24 hour day  that must be expressed as: HH:MM:SS</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="xsd:time" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="UnitOfMeasureType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0011</xsd:documentation>
      <xsd:documentation source="Definition">(synonym MeasurementUnit) The unit of measure that is applied to a quantity. The measurement units shall be in compliance with UN/ECE Recommendation 20.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" type="ecl:UnitOfMeasureTypeList" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="VersionType">
    <xsd:annotation>
      <xsd:documentation source="Uid">ET0002</xsd:documentation>
      <xsd:documentation source="Definition">A code that distinguishes one evolution of an identified object from another. Information about a specific object may be sent several times, each transmission being identified by a different version number.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:integer">
          <xsd:maxInclusive value="999"/>
          <xsd:minInclusive value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
</xsd:schema>
