edi_energy_de/future/AcknowledgementDocumentXSD-informatorischeLesefassung1.0b_99991231_20230401.xsd

<!-- Diese XSD-Datei dient als informatorische Lesefassung und baut auf den konsultierten Formatbeschreibungen und Anwendungstabellen der XML-Datenformate für den Redispatch 2.0 auf. 
Diese XSD-Datei wird bis auf Weiteres rein informatorisch und ergänzend veröffentlicht. Der BDEW behält sich vor, in Zukunft eine kostenpflichtige Veröffentlichung der XSD-Datei einzuführen. -->
<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ecc="urn:entsoe.eu:wgedi:components"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
  <xsd:import namespace="urn:entsoe.eu:wgedi:components" schemaLocation="../00_Ressourcenschemas_v72/urn-entsoe-eu-wgedi-components.xsd"/>
  <xsd:element name="AcknowledgementDocument">
    <xsd:annotation>
      <xsd:documentation source="Dokumentation">Ausgabe</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:annotation>
        <xsd:documentation></xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element name="DocumentIdentification" type="ecc:IdentificationType">
          <xsd:annotation>
            <xsd:documentation></xsd:documentation>
            <xsd:documentation xml:lang="DE" source="Desc">Die DocumentIdentification hat je Absender und je Dokumententyp eindeutig zu sein. Bei der Bildung der Identifikation ist auf Groß- und Kleinschreibung zu achten (case-sensitive).</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="DocumentDateTime" type="ecc:DocumentDateTimeType">
          <xsd:annotation>
            <xsd:documentation></xsd:documentation>
            <xsd:documentation xml:lang="DE" source="Desc">
Hier ist der Erzeugungszeitpunkt des Dokuments anzugeben. Die Zeitangabe erfolgt in UTC. 
Der Zeitpunkt ist immer im Format 
yyyy-mm-ddThh:mm:ssZ anzugeben, mit: 

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
T, Z Zeichen, die an den entsprechenden Stellen zwingend anzugeben sind.
            </xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="SenderIdentification" type="ecc:PartyType">
          <xsd:annotation>
            <xsd:documentation></xsd:documentation>
            <xsd:documentation xml:lang="DE" source="Desc">Dieses Element dient zur eindeutigen Identifikation des Senders über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer vergebenden Organisation gehören muss.</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="SenderRole" type="ecc:RoleType">
          <xsd:annotation>
            <xsd:documentation></xsd:documentation>
            <xsd:documentation xml:lang="DE" source="Desc">Dieses Element dient zur Angabe der Marktrolle des Absenders.</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ReceiverIdentification" type="ecc:PartyType">
          <xsd:annotation>
            <xsd:documentation></xsd:documentation>
            <xsd:documentation xml:lang="DE" source="Desc">Dieses Element dient zur eindeutigen Identifikation des Empfängers über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer vergebenden Organisation gehören muss.</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ReceiverRole" type="ecc:RoleType" minOccurs="1">
          <xsd:annotation>
            <xsd:documentation></xsd:documentation>
            <xsd:documentation xml:lang="DE" source="Desc">Dieses Element dient zur Angabe der Marktrolle des Empfängers.</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ReceivingDocumentIdentification" type="ecc:IdentificationType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation></xsd:documentation>
            <xsd:documentation xml:lang="DE" source="Desc">
In diesem Element wird die Identifikation des Dokuments(DocumentIdentification) angegeben, auf das sich das AcknowledgementDocument bezieht. Die Eindeutigkeit des Dokuments, auf das Bezug genommen wird, ergibt sich für den
Empfänger des AcknowledgementDocuments (ACK) erst durch die Angaben (ReceivingDocumentIdentification; ReceivingDocumentVersion; ReceivingDocumentType; Receiver (des AcknowledgementDocument), Absender (des
AcknowledgementDocument)). Dieses Feld wird nur verwendet, wenn die originäre Nachricht, auf Grund derer das AcknowledgementDocument gesendet wird, eine gültige und lesbare XML-Nachricht ist. Im Falle eines sog. technischen AcknowledgementDocuments (Datei nicht lesbar, da keine gültige XML-Datei) wird dieses Element nicht verwendet.
            </xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ReceivingDocumentVersion" type="Extended_VersionType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation></xsd:documentation>
            <xsd:documentation xml:lang="DE" source="Desc">In diesem Element wird die Documentversion (DocumentVersion) des Dokuments angegeben, auf das sich das AcknowledgementDocument bezieht. Dieses Feld wird nur verwendet, wenn die originäre Nachricht, auf Grund derer das AcknowledgementDocument gesendet wird, eine gültige und lesbare XML-Nachricht ist. Im Falle eines sog. technischen AcknowledgementDocuments (originäre Nachricht, auf die Bezug genommen wird, war nicht lesbar, da keine gültige XML-Datei) wird dieses Element nicht verwendet.</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ReceivingDocumentType" type="ecc:MessageType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation></xsd:documentation>
            <xsd:documentation xml:lang="DE" source="Desc">In diesem Element wird der Dokumenttyp (DocumentType) des Dokuments angegeben, auf das sich das AcknowledgementDocument bezieht. Dieses Feld wird nur verwendet, wenn die originäre Nachricht, auf Grund derer das AcknowledgementDocument gesendet wird, eine gültige und lesbare XML-Nachricht ist. Im Falle eines sog. technischen AcknowledgementDocuments (originäre Nachricht nicht lesbar, da keine gültige XML-Datei) wird dieses Element nicht verwendet.</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ReceivingPayloadName" type="ecc:LongIdentificationType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation></xsd:documentation>
            <xsd:documentation xml:lang="DE" source="Desc">In diesem Element wird der Dateiname des Dokuments angegeben, auf das sich die Empfangs- und Prüfbestätigung bezieht. Dieses Feld wird nur in einer sog. technischen Empfangs- und Prüfbestätigung verwendet, d. h., wenn die originäre Nachricht, auf Grund derer die Empfangs- und Prüfbestätigung gesendet wird, keine gültige und lesbare XML-Nachricht ist. Im Falle einer technischen Empfangs- und Prüfbestätigung werden die Felder ReceivingDocumentIdentification, ReceivingDocumentVersion und ReceivingDocumentType nicht verwendet. Der Empfänger muss an Hand des Absenders und des Dateinamens die Zuordnung zur Nachricht durchführen.</xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="DateTimeReceivingDocument" type="ecc:DocumentDateTimeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation></xsd:documentation>
            <xsd:documentation source="Layout">Layout</xsd:documentation>
            <xsd:documentation xml:lang="DE" source="Desc">
Hier ist der Erzeugungszeitpunkt aus dem Dokument einzutragen, auf das mit diesem ACK geantwortet wird. Die Angabe des Zeitpunktes erfolgt in UTC im Format yyyy-mm-ddThh:mm:ssZ, wobei
yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe sind.
T Trennzeichen zwischen Datum und Uhrzeit
Z Zeichen weist auf Angabe in UTC hin.

            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="TimeSeriesRejection" type="TimeSeriesRejection_Type" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation xml:lang="DE" source="Desc">Das Element wird derzeit für Redispatch 2.0 nicht genutzt.</xsd:documentation>
            <xsd:documentation source="Dokumentation">Ausgabe</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Reason" type="Reason_Type" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation xml:lang="DE" source="Desc">Über ReasonCode und den ggf. auch enthaltenen ReasonText wird der Fehler beschrieben, der in der Datei festgestellt wurde. Zusätzlich wird hier die Information übermittelt, ob die Datei akzeptiert (ReasonCode A01) oder abgelehnt wurde (ReasonCode A02).</xsd:documentation>
            <xsd:documentation source="Dokumentation">Ausgabe</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="TimeIntervalError" type="TimeIntervalError_Type" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation source="Abhängigkeit">nur bei ReasonCode A21</xsd:documentation>
            <xsd:documentation source="Dokumentation">Ausgabe</xsd:documentation>
            <xsd:documentation xml:lang="DE" source="Desc">Das Element wird derzeit für Redispatch 2.0 nicht genutzt.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="DtdVersion" type="xsd:string" fixed="5" use="required"/>
      <xsd:attribute name="DtdRelease" type="xsd:string" fixed="1" use="required"/>
      <xsd:attribute name="DtdBDEWNachrichtenVersion" type="xsd:string" fixed="1.0b"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Extended_VersionType">
    <xsd:annotation>
      <xsd:documentation xml:lang="DE" source="Desc">Die DocumentVersion (auch als Meldungsversion bezeichnet) gibt die Version eines Dokumentes an, welches über die DocumentIdentification identifiziert wird. Mit jeder Aktualisierung wird die Versionsangabe kontinuierlich, mit 1  beginnend, hochgezählt. Die jeweils höchste DocumentVersion kennzeichnet die aktuelle Version.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="v" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:integer">
          <xsd:minInclusive value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="Reason_Type">
    <xsd:annotation>
      <xsd:documentation></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ReasonCode" type="ecc:ReasonCodeType">
        <xsd:annotation>
          <xsd:documentation></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReasonText" type="ecc:ReasonTextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimeIntervalError_Type">
    <xsd:annotation>
      <xsd:documentation></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="QuantityTimeInterval" type="ecc:TimeIntervalType">
        <xsd:annotation>
          <xsd:documentation></xsd:documentation>
          <xsd:documentation xml:lang="DE" source="Remark">Angabe des Zeitintervalls, in dem ein Fehler aufgetreten ist, gemäß Pattern.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reason" type="Reason_Type" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimeSeriesRejection_Type">
    <xsd:annotation>
      <xsd:documentation></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SendersTimeSeriesIdentification" type="ecc:IdentificationType">
        <xsd:annotation>
          <xsd:documentation></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TimeIntervalError" type="TimeIntervalError_Type" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Reason" type="Reason_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
