edi_energy_de/FV2610/XSD_1.1b_20251001_99991231_20251001_oooo_11662.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:iec62325.351:tc57wg16:451-6:outagedocument:3:0"
    targetNamespace="urn:iec62325.351:tc57wg16:451-6:outagedocument:3:0"
    elementFormDefault="qualified">
		<!-- Diese XSD-Datei baut auf den konsultierten Formatbeschreibungen der XML-Datenformate für den Redispatch 2.0 auf. Der BDEW übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit, Qualität oder wettbewerbsrechtliche Zulässigkeit der bereitgestellten Informationen.
	Der BDEW behält sich vor, in Zukunft eine kostenpflichtige Veröffentlichung der XSD-Datei einzuführen. -->
  <xs:element name="Unavailability_MarketDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mRID">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Die Identifikation des Dokuments (mRID) hat je Absender und je Dokumententyp eindeutig zu sein. Bei der Bildung der Identifikation ist auf Groß- und Kleinschreibung zu achten (case-sensitive). Die Eindeutigkeit der unterschiedlichen Versionen erfolgt durch die Nutzung der Meldungsversion (revisionNumber).</xs:documentation>
            <xs:documentation>OUT894837</xs:documentation>
            <xs:documentation>Layout</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="35"/>
              <xs:whiteSpace value="preserve"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="revisionNumber">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Die revisionNumber (auch als Meldungsversion bezeichnet) gibt die Version eines Dokumentes an, welches über die mRID identifiziert wird. Mit jeder Aktualisierung wird die Versionsangabe kontinuierlich, mit 1 beginnend, hochgezählt. Die jeweils höchste revisionNumber kennzeichnet die aktuelle Version. Die Meldungsversion darf maximal drei Stellen besitzen.</xs:documentation>
            <xs:documentation>34</xs:documentation>
            <xs:documentation>Layout</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:pattern value="[1-9]\d{0,2}"/>
              <xs:whiteSpace value="collapse"/>
              <xs:maxInclusive value="999"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="type">
          <xs:annotation>
            <xs:documentation xml:lang="DE">
Der type dient zur eindeutigen Kennzeichnung des Dokumenttyps und basiert auf einer vordefinierten Codeliste. Alle Versionen eines Unavailability_MarketDocument müssen denselben type enthalten.
Für die marktbedingte Anpassung wird der Code A67 - Resource Provider Schedule for production/consumption verwendet.
            </xs:documentation>
            <xs:documentation>Layout</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="A67">
                <xs:annotation>
                  <xs:documentation></xs:documentation>
                  <xs:documentation>Resource Provider Schedule for production/consumption</xs:documentation>
                  <xs:documentation>A document providing the schedules for production/consumption for resource objects submitted by a resource provider.</xs:documentation>
                  <xs:documentation xml:lang="EN"></xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="A76">
                <xs:annotation>
                  <xs:documentation></xs:documentation>
                  <xs:documentation>Load unavailability</xs:documentation>
                  <xs:documentation>A document providing the unavailability of units providing load on the network.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="A80">
                <xs:annotation>
                  <xs:documentation></xs:documentation>
                  <xs:documentation>Generation unavailability</xs:documentation>
                  <xs:documentation>A document providing the unavailability of generation units providing energy to the network.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="process.processType">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Der process.processType gibt an, in welchem Prozess dieses Dokument eingesetzt wird und basiert auf einer vordefinierten Codeliste.</xs:documentation>
            <xs:documentation>Layout</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="A14">
                <xs:annotation>
                  <xs:documentation></xs:documentation>
                  <xs:documentation>Forecast</xs:documentation>
                  <xs:documentation>The data contained in the document are to be handled in short, medium, long term forecasting process.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="A26">
                <xs:annotation>
                  <xs:documentation></xs:documentation>
                  <xs:documentation>Outage information</xs:documentation>
                  <xs:documentation>The process concerns TSO publication of outages on its power system.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="createdDateTime">
          <xs:annotation>
            <xs:documentation>2017-04-09T11:56:23Z</xs:documentation>
            <xs:documentation xml:lang="DE">
Hier ist der Erzeugungszeitpunkt des Dokuments (in der jeweiligen Version) anzugeben. Die Zeitangabe erfolgt in UTC. 
Der Zeitpunkt ist immer im Format yyyy-mm-ddThh:mm:ssZ anzugeben mit:
yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
            </xs:documentation>
            <xs:documentation xml:lang="DE">sekundenscharfer Zeitpunkt in UTC, gemäß Pattern</xs:documentation>
            <xs:documentation>Layout</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:dateTime">
              <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\d:[0-5]\dZ"/>
              <xs:whiteSpace value="collapse"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="sender_MarketParticipant.mRID">
          <xs:annotation>
            <xs:documentation>
9900909000005
(MP-ID der SW Rostock Netzgesellschaft mbH als BDEW-Code)
            </xs:documentation>
            <xs:documentation xml:lang="DE">Dieses Element dient zur eindeutigen Identifikation des Senders über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer vergebenden Organisation gehören muss.</xs:documentation>
            <xs:documentation>Layout</xs:documentation>
            <xs:documentation xml:lang="DE">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="ContentType_1">
                <xs:attribute name="codingScheme" use="required">
                  <xs:annotation>
                    <xs:documentation xml:lang="DE">Das codingScheme definiert das Codierungssystem für den genutzten Identifikator.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                      <xs:enumeration value="A10">
                        <xs:annotation>
                          <xs:documentation></xs:documentation>
                          <xs:documentation>GS1</xs:documentation>
                          <xs:documentation>The coding scheme for the preceding attribute is the Global Location Number (GLN 13) or Global Service Relation Number (GSRN 18), maintained by GS1.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="NDE">
                        <xs:annotation>
                          <xs:documentation></xs:documentation>
                          <xs:documentation>Germany National coding scheme (BDEW-Code)</xs:documentation>
                          <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="sender_MarketParticipant.marketRole.type">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Dieses Element dient zur Angabe der Marktrolle des Absenders.</xs:documentation>
            <xs:documentation>Layout</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="A27">
                <xs:annotation>
                  <xs:documentation></xs:documentation>
                  <xs:documentation>Resource Provider</xs:documentation>
                  <xs:documentation>Refer to role model definitions in the ENTSO-E Harmonised Role Model Document.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="A39">
                <xs:annotation>
                  <xs:documentation></xs:documentation>
                  <xs:documentation>Data provider</xs:documentation>
                  <xs:documentation>A party that is responsible for providing information to a central authority.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="receiver_MarketParticipant.mRID">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Dieses Element dient zur eindeutigen Identifikation des Empfängers über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer vergebenden Organisation gehören muss.</xs:documentation>
            <xs:documentation>
4033872000058
(MP-ID von TenneT als GS1-Code)
            </xs:documentation>
            <xs:documentation>Layout</xs:documentation>
            <xs:documentation xml:lang="DE">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="ContentType_1">
                <xs:attribute name="codingScheme" use="required">
                  <xs:annotation>
                    <xs:documentation xml:lang="DE">Das codingScheme definiert die vergebende Organisation der Marktpartner-ID.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                      <xs:enumeration value="A10">
                        <xs:annotation>
                          <xs:documentation></xs:documentation>
                          <xs:documentation>GS1</xs:documentation>
                          <xs:documentation>The coding scheme for the preceding attribute is the Global Location Number (GLN 13) or Global Service Relation Number (GSRN 18), maintained by GS1.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="NDE">
                        <xs:annotation>
                          <xs:documentation></xs:documentation>
                          <xs:documentation>Germany National coding scheme (BDEW-Code)</xs:documentation>
                          <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="receiver_MarketParticipant.marketRole.type">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Dieses Element dient zur Angabe der Marktrolle des Empfängers.</xs:documentation>
            <xs:documentation>Layout</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="A18">
                <xs:annotation>
                  <xs:documentation></xs:documentation>
                  <xs:documentation>Grid operator</xs:documentation>
                  <xs:documentation>Refer to role model definitions in the ENTSO-E Harmonised Role Model Document.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="A39">
                <xs:annotation>
                  <xs:documentation></xs:documentation>
                  <xs:documentation>Data provider</xs:documentation>
                  <xs:documentation>A party that is responsible for providing information to a central authority.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="unavailability_Time_Period.timeInterval">
          <xs:annotation>
            <xs:documentation xml:lang="DE">
Der in unavailability_Time_Period.timeInterval angegebene Zeitraum entspricht immer dem Erfüllungstag (ein Kalendertag von 0:00 Uhr lokaler deutscher Zeit des Erfüllungstages bis 0:00 Uhr lokaler deutscher Zeit des unmittelbar auf den Erfüllungstag folgenden Tages), für den die Daten gesendet werden. Finden an einem Tag mehrere Nichtbeanspruchbarkeiten bzw. marktbedingte Anpassungen statt, so sind diese in einer Nachricht zu übertragen. Umfasst die Nichtbeanspruchbarkeit bzw. marktbedingte Anpassung mehrere Tage, so müssen mehrere Nachrichten versendet werden, um diese eine Nichtbeanspruchbarkeit bzw. marktbedingte Anpassung zu übertragen.
Das Element docStatus darf in diesem Fall nicht genutzt werden (andernfalls enthält das Dokument zur Übermittlung von Nichtbeanspruchbarkeiten bzw. marktbedingte Anpassung keine TimeSeries).
            </xs:documentation>
            <xs:documentation xml:lang="DE">Dauer der gesamten Nichtbeanspruchbarkeit oder marktbedingten Anpassung</xs:documentation>
            <xs:documentation>Ausgabe</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="start">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">
Der Zeitpunkt des Beginns der Nichtbeanspruchbarkeit oder marktbedingten Anpassung ist
in UTC im Format yyyy-mm-ddThh:mmZ wie folgt
anzugeben:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC

Der Startzeitpunkt entspricht unabhängig von der in resolution angegebenen Zeitauflösung immer 0:00 Uhr lokaler deutscher Zeit des Erfüllungstages.
                  </xs:documentation>
                  <xs:documentation>2017-02-02T23:00Z</xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\dZ"/>
                    <xs:whiteSpace value="preserve"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="end">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">
Der Zeitpunkt des Endes der Nichtbeanspruchbarkeit oder marktbedingten Anpassung ist
in UTC im Format yyyy-mm-ddThh:mmZ wie folgt
anzugeben:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC

Der Endzeitpunkt entspricht unabhängig von der in resolution angegebenen Zeitauflösung immer 0:00 Uhr lokaler deutscher Zeit des unmittelbar auf den in start genannten Tag folgenden Tages.
                  </xs:documentation>
                  <xs:documentation>2017-07-30T22:00Z</xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\dZ"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="docStatus" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Wird in einem Unavailability_MarketDocument das Element "docStatus" zur Rücknahme der übermittelten Nichtbeanspruchbarkeiten oder marktbedingten Anpassungen verwendet, wird in diesem kein Element "TimeSeries" genutzt. Das betrifft alle enthaltenen "TimeSeries".</xs:documentation>
            <xs:documentation>
Wird verwendet, wenn das Dokument zur Übermittlung von Nichtbeanspruchbarkeiten oder marktbedingter Anpassungen aufgrund eines fehlerhaften Inhalts zurückgezogen wird.

            </xs:documentation>
            <xs:documentation>Ausgabe</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">A13 kommt zum Einsatz, wenn der Sender das Dokument aufgrund fehlerhaften Inhalts zurückziehen möchte.</xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="A13">
                      <xs:annotation>
                        <xs:documentation></xs:documentation>
                        <xs:documentation>Withdrawn</xs:documentation>
                        <xs:documentation>The information has been withdrawn by the submitter.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TimeSeries" minOccurs="0" maxOccurs="30">
          <xs:annotation>
            <xs:documentation xml:lang="DE">
Der in unavailability_Time_Period.timeInterval angegebene Zeitraum gibt die Dauer eines ganzen Kalendertages an. Der Beginn des Zeitraums erfolgt über das Element start, das Ende des Zeitraums erfolgt über das Element end. Dieser Zeitraum muss vollständig von der TimeSeries des Dokuments abgedeckt sein. Wird in einem Unavailability_MarketDocument 
mindestens ein Element "TimeSeries" verwendet, darf in diesem Unavailability MarketDocument kein Element "docStatus" verwendet werden. 
            </xs:documentation>
            <xs:documentation>Ausgabe</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mRID">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Jede TimeSeries eines Dokuments muss einen eindeutigen Identifikator innerhalb dieses Dokuments haben. Eine Eineindeutigkeit über mehrere Dokumente ist nicht erforderlich. Dieser maximal 35-stellige alphanummerische Wert ist hier anzugeben.</xs:documentation>
                  <xs:documentation>84498945789489</xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="35"/>
                    <xs:whiteSpace value="preserve"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="original_sender_MarketParticipant.mRID" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">MP-ID des ursprünglichen Senders, falls Datei durch Data Provider weitergeleitet wurde.</xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                  <xs:documentation xml:lang="DE">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="ContentType_1">
                      <xs:attribute name="codingScheme" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="A10">
                              <xs:annotation>
                                <xs:documentation></xs:documentation>
                                <xs:documentation>GS1</xs:documentation>
                                <xs:documentation>The coding scheme for the preceding attribute is the Global Location Number (GLN 13) or Global Service Relation Number (GSRN 18), maintained by GS1.</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="NDE">
                              <xs:annotation>
                                <xs:documentation></xs:documentation>
                                <xs:documentation>Germany National coding scheme (BDEW-Code)</xs:documentation>
                                <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="original_document_mRID" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Ursprüngliche Document_mRID, falls Datei durch Data Provider weitergeleitet wurde.</xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="35"/>
                    <xs:whiteSpace value="preserve"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="original_revisionNumber" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Ursprüngliche revisionNumber, falls Datei durch Data Provider weitergeleitet wurde.</xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:pattern value="[1-9][0-9]{0,2}"/>
                    <xs:whiteSpace value="collapse"/>
                    <xs:maxInclusive value="999"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="original_createdDateTime" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>2017-04-09T11:56:23Z</xs:documentation>
                  <xs:documentation xml:lang="DE">
Hier ist der Erzeugungszeitpunkt des Dokuments (in der jeweiligen Version) anzugeben. Die Zeitangabe erfolgt in UTC. 
Der Zeitpunkt ist immer im Format yyyy-mm-ddThh:mm:ssZ anzugeben mit:
yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
                  </xs:documentation>
                  <xs:documentation xml:lang="DE">sekundenscharfer Zeitpunkt in UTC, gemäß Pattern</xs:documentation>
                  <xs:documentation xml:lang="DE">Ursprüngliche createdDateTime, falls Datei durch Data Provider weitergeleitet wurde.</xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:dateTime">
                    <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\d:[0-5]\dZ"/>
                    <xs:whiteSpace value="collapse"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="original_timeseries_mRID" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Ursprüngliche mRID der Zeitreihe, falls Datei durch Data Provider weitergeleitet wurde.</xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="35"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="businessType">
                <xs:annotation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="A01">
                      <xs:annotation>
                        <xs:documentation></xs:documentation>
                        <xs:documentation>Production</xs:documentation>
                        <xs:documentation>The nature of the business being described is production details.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="A53">
                      <xs:annotation>
                        <xs:documentation></xs:documentation>
                        <xs:documentation>Planned maintenance</xs:documentation>
                        <xs:documentation>Maintenance has been planned for the object in question with a forecast ending date.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="A54">
                      <xs:annotation>
                        <xs:documentation></xs:documentation>
                        <xs:documentation>Unplanned outage</xs:documentation>
                        <xs:documentation>An unplanned outage has occurred on the object in question.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="biddingZone_Domain.mRID">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Hier ist die Regelzone anzugeben, in der die technische Ressource ihren Netzanschlusspunkt hat, für die die Meldung abgegeben wird. Bei Umschaltmöglichkeit ist eine Regelzone für alle technischen Ressourcen eines Kraftwerkes / Speicherkraftwerkes für die Nachricht festzulegen.</xs:documentation>
                  <xs:documentation>
10YDE-RWENET---I
(Regelzone Amprion)
                  </xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="ContentType_2">
                      <xs:attribute name="codingScheme" use="required">
                        <xs:annotation>
                          <xs:documentation xml:lang="DE">Das codingScheme definiert das Codierungssystem für den genutzten Identifikator.</xs:documentation>
                          <xs:documentation xml:lang="DE">EIC der jeweiligen dt. Regelzone</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="A01">
                              <xs:annotation>
                                <xs:documentation></xs:documentation>
                                <xs:documentation>EIC</xs:documentation>
                                <xs:documentation>The coding scheme is the Energy Identification Coding Scheme (EIC), maintained by ENTSO-E.</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="start_DateAndOrTime.date">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">
Die TimeSeries muss zum in unavailability_Time_Period.timeInterval/start genannten Tag (UTC) beginnen. 

Das Format dafür ist yyyy-mm-dd mit:
yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
                  </xs:documentation>
                  <xs:documentation>2017-01-12</xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:date">
                    <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))"/>
                    <xs:whiteSpace value="collapse"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="start_DateAndOrTime.time">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">
Die TimeSeries muss zur im unavailability_Time_Period.timeInterval/start genannten Uhrzeit (UTC) beginnen. Das Format dafür ist hh:mm:ssZ mit:

hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
Z Verweis auf UTC
                  </xs:documentation>
                  <xs:documentation>22:00:00Z</xs:documentation>
                  <xs:documentation xml:lang="DE">Es muss in diesem Element die Sekunde mit "00" angegeben werden. </xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:time">
                    <xs:pattern value="([01]\d|2[0-3]):[0-5]\d:[0-5]\dZ"/>
                    <xs:whiteSpace value="collapse"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="end_DateAndOrTime.date">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">
Die TimeSeries muss zum in unavailability_Time_Period.timeInterval/end genannten Tag (UTC) enden. Das Format dafür ist yyyy-mm-dd mit:
yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
                  </xs:documentation>
                  <xs:documentation>2017-06-23</xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:date">
                    <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))"/>
                    <xs:whiteSpace value="collapse"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="end_DateAndOrTime.time">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">
Die TimeSeries muss zur im unavailability_Time_Period.timeInterval/end genannten Uhrzeit (UTC) enden. Das Format dafür ist hh:mm:ssZ mit:

hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
Z Verweis auf UTC 

Gemäß ENTSO-E-Vorgaben muss in diesem Element die Sekunde angegeben werden. Da start und end auf timeInterval- Ebene jedoch nur Werte auf Minutenebene zulassen, ist hier die Sekundenangabe immer mit „00“ zu füllen.
                  </xs:documentation>
                  <xs:documentation>22:00:00Z</xs:documentation>
                  <xs:documentation xml:lang="DE">Es muss in diesem Element die Sekunde mit "00" angegeben werden. </xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:time">
                    <xs:pattern value="([01]\d|2[0-3]):[0-5]\d:[0-5]\dZ"/>
                    <xs:whiteSpace value="collapse"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="quantity_Measure_Unit.name">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Alle Versionen eines Dokuments zur Übermittlung von Nichtbeanspruchbarkeiten oder marktbedingten Anpassungen müssen denselben quantity_Measure_Unit.name enthalten.</xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="MAW">
                      <xs:annotation>
                        <xs:documentation></xs:documentation>
                        <xs:documentation>Megawatt</xs:documentation>
                        <xs:documentation>A unit of bulk power flow, which can be defined as the rate of energy transfer /consumption when a current of 1000 amperes flows due to a potential of 1000 volts at unity power factor expressed in millions of a watt.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="curveType">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Es wird ausschließlich der curveType „Variable sized Block“ verwendet, der sich dadurch auszeichnet, dass nur die Zeitpunkte angegeben werden müssen, zu denen sich die im Element quantity anzugebende Leistung ändert. Es dürfen keine Punkte angegeben werden, an denen sich die Leistung im Vergleich zum unmittelbar vorangehenden Punkt nicht ändert.</xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="A03">
                      <xs:annotation>
                        <xs:documentation></xs:documentation>
                        <xs:documentation>Variable sized Block</xs:documentation>
                        <xs:documentation>The curve is made of successive Intervals of time (Blocks) of variable duration (size), where the end date and end time of each Block are equal to the start date and start time of the next Interval. For the last Block the end date and end time of the last Interval would be equal to EndDateTime of TimeInterval.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="production_RegisteredResource.mRID" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">
production_RegisteredResource.mRID wird nur verwendet, wenn das Dokument den type = A80 (Generation unavailability) oder den type = A67 (Resource Provider Schedule for production/consumption) hat. 
Sofern angegeben, müssen alle Versionen eines Dokuments zur Übermittlung von Nichtbeanspruchbarkeiten oder marktbedingten Anpassungen dieselbe production_RegisteredResource.mRID enthalten.
                  </xs:documentation>
                  <xs:documentation>11WD2-TESTKW99-D</xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                  <xs:documentation xml:lang="DE">Für den Redispatch 2.0 ist hier der 11-stellige Ressourcen-Code zu verwenden.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="ContentType_3">
                      <xs:attribute name="codingScheme" use="required">
                        <xs:annotation>
                          <xs:documentation xml:lang="DE">Das codingScheme definiert das Codierungssystem für den genutzten Identifikator.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="NDE">
                              <xs:annotation>
                                <xs:documentation></xs:documentation>
                                <xs:documentation>Germany National coding scheme</xs:documentation>
                                <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="production_RegisteredResource.pSRType.powerSystemResources.mRID" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Wird nur verwendet, wenn das Dokument den type = A80 (Generation unavailability) oder den type = A67 (Resource Provider Schedule for production/consumption) hat. Es ist der Identifikator des ResourceObject anzugeben, für die die Nichtbeanspruchbarkeit oder marktbedingte Anpassung gemeldet wird. </xs:documentation>
                  <xs:documentation>11WD2-TESTKW99-D</xs:documentation>
                  <xs:documentation xml:lang="DE">Für den Redispatch 2.0 ist hier der 11-stellige Ressourcen Code zu verwenden.</xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="ContentType_3">
                      <xs:attribute name="codingScheme" use="required">
                        <xs:annotation>
                          <xs:documentation xml:lang="DE">Das codingScheme definiert das Codierungssystem für den genutzten Identifikator.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="NDE">
                              <xs:annotation>
                                <xs:documentation></xs:documentation>
                                <xs:documentation>Germany National coding scheme (BDEW-Code)</xs:documentation>
                                <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Asset_RegisteredResource" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Mit diesem Element wird die Identifikation eines RessourceObjects übermittelt, die Energie aus dem Netz bezieht.</xs:documentation>
                  <xs:documentation>
Asset_RegisteredResource wird nur verwendet, wenn das Dokument den type = A76 (Load unavailability) hat. In diesem Fall müssen alle Versionen eines Dokuments zur Übermittlung von Nichtbeanspruchbarkeiten oder marktbedingten Anpassungendieselbe mRID für die Identifikation der Asset_RegisteredResource enthalten.

                  </xs:documentation>
                  <xs:documentation>Ausgabe</xs:documentation>
                  <xs:documentation xml:lang="DE">Für den Redispatch 2.0 ist hier der 11-stellige Ressourcen Code zu verwenden.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="mRID">
                      <xs:annotation>
                        <xs:documentation xml:lang="DE">Es wird der Identifikator des RessourceObject angegeben, die Energie verbraucht und für die die Nichtbeanspruchbarkeit oder marktbedingte Anpassung gemeldet wird.</xs:documentation>
                        <xs:documentation>11WD2-TESTPUMP-D</xs:documentation>
                        <xs:documentation xml:lang="DE">Für den Redispatch 2.0 ist hier der 11-stellige Ressourcen Code zu verwenden.</xs:documentation>
                        <xs:documentation>Layout</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="ContentType_4">
                            <xs:attribute name="codingScheme" use="required">
                              <xs:annotation>
                                <xs:documentation xml:lang="DE">Das codingScheme definiert das Codierungssystem für den genutzten Identifikator.</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                <xs:restriction base="xs:NMTOKEN">
                                  <xs:enumeration value="NDE">
                                    <xs:annotation>
                                      <xs:documentation></xs:documentation>
                                      <xs:documentation>Germany National coding scheme (BDEW-Code)</xs:documentation>
                                      <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                                    </xs:annotation>
                                  </xs:enumeration>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Available_Period">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Jede TimeSeries enthält genau ein Element vom Typ Available_Period.</xs:documentation>
                  <xs:documentation>Ausgabe</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="timeInterval">
                      <xs:annotation>
                        <xs:documentation xml:lang="DE">Jede Available_Period enthält genau ein Element vom Typ timeInterval.</xs:documentation>
                        <xs:documentation xml:lang="DE">Dauer der gesamten Nichtbeanspruchbarkeit oder marktbedingten Anpassung</xs:documentation>
                        <xs:documentation>Ausgabe</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="start">
                            <xs:annotation>
                              <xs:documentation xml:lang="DE">
Der Zeitpunkt des Beginns der Available_Period ist in UTC im
Format yyyy-mm-ddThh:mmZ wie folgt anzugeben:
yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
                              </xs:documentation>
                              <xs:documentation>2017-01-12T23:00Z</xs:documentation>
                              <xs:documentation>Der Startzeitpunkt muss identisch mit den Angaben aus start_DateAndOrTime.date und start_DateAndOrTime.time sein.</xs:documentation>
                              <xs:documentation>Layout</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\dZ"/>
                                <xs:whiteSpace value="preserve"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="end">
                            <xs:annotation>
                              <xs:documentation xml:lang="DE">
Der Zeitpunkt des Endes der Available_Period ist in UTC im Format yyyy-mm-ddThh:mmZ wie folgt anzugeben:
yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
                              </xs:documentation>
                              <xs:documentation>2017-06-23T22:00Z</xs:documentation>
                              <xs:documentation>Der Endzeitpunkt muss identisch mit den Angaben aus end_DateAndOrTime.date und end_DateAndOrTime.time sein.</xs:documentation>
                              <xs:documentation>Layout</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\dZ"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="resolution">
                      <xs:annotation>
                        <xs:documentation xml:lang="DE">Der Abstand der einzelnen Punkte der Zeitreihe zueinander beträgt immer das Vielfache (natürliche Zahl) der in der resolution angegebenen Dauer für die Zeitauflösung.</xs:documentation>
                        <xs:documentation>Layout</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:duration">
                          <xs:enumeration value="PT15M">
                            <xs:annotation>
                              <xs:documentation xml:lang="DE">resolution is quarter hourly</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
                          <xs:enumeration value="PT1M">
                            <xs:annotation>
                              <xs:documentation xml:lang="DE">resolution is for a minute</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Point" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation xml:lang="DE">Point gibt die relative Position innerhalb eines Zeitintervalls und die zugehörige Menge an.</xs:documentation>
                        <xs:documentation>Ausgabe</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="position">
                            <xs:annotation>
                              <xs:documentation xml:lang="DE">
Hier ist die Position des Punktes in der Zeitreihe anzugeben. Der Startzeitpunkt ist als Position 1 immer anzugeben. Weitere Positionen
müssen zwingend nur angegeben werden, wenn sich innerhalb von unavailability_Time_Period.timeInterval die quantity ändert.
Für den größten Wert einer Position einer Available_Period muss gelten: 
Startzeitpunkt + {(größter Wert einer Position) -1}* resolution &lt; Endzeitpunkt.
                              </xs:documentation>
                              <xs:documentation>3</xs:documentation>
                              <xs:documentation xml:lang="DE">Integerwert (gemäß Pattern) zur Identifikation des Zeitpunktes, für den der Wert gilt</xs:documentation>
                              <xs:documentation>Layout</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:pattern value="[1-9]\d{0,5}"/>
                                <xs:whiteSpace value="collapse"/>
                                <xs:maxInclusive value="999999"/>
                                <xs:minInclusive value="1"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="quantity">
                            <xs:annotation>
                              <xs:documentation xml:lang="DE">Hier wird die Leistung in Megawatt angegeben. Im Fall der Übermittlung von Nichtbeanspruchbarkeiten wird die nichtbeanspruchbare Leistung angegeben. Als Bezugsgröße wird die Nettonennleistung genutzt. Wird beispielsweise für eine technische Ressource mit einer Nettonennleistung von 1.000 MW ein „Shutdown“ gemeldet, so ist hier eine Leistung von 1.000 MW anzugeben. Im Fall von marktbedingten Anpassungen ist der Wert der Einspeisung anzugeben, auf den die Leistung angepasst werden soll.</xs:documentation>
                              <xs:documentation>234</xs:documentation>
                              <xs:documentation xml:lang="DE">Dezimalzahl &gt;=0 ohne Angabe des Vorzeichen, max. 3 Nachkommastellen. Als Dezimaltrennzeichen ist der Punkt (.) zu verwenden.</xs:documentation>
                              <xs:documentation>Layout</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:whiteSpace value="collapse"/>
                                <xs:fractionDigits value="3"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Reason" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Hier ist der Grund (Auslöser) anzugeben, aufgrund dessen die Zeitreihe zur Übermittlung von Nichtbeanspruchbarkeiten oder marktbedingten Anpassungen initial erstellt und übertragen wurde.</xs:documentation>
                  <xs:documentation>Ausgabe</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="code">
                      <xs:annotation>
                        <xs:documentation>Layout</xs:documentation>
                        <xs:documentation xml:lang="DE">Es muss einer der zulässigen Werte verwendet werden. </xs:documentation>
                        <xs:documentation>
Code B18 Failure (Ausfall), nur in Verbindung mit businessType A54 zulässig; 
Code B19 Foreseen maintenance (vorhergesehene Wartung), nur in Verbindung mit businessType A53 zulässig.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                          <xs:enumeration value="B18">
                            <xs:annotation>
                              <xs:documentation></xs:documentation>
                              <xs:documentation>Failure</xs:documentation>
                              <xs:documentation>A failure has occurred.</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
                          <xs:enumeration value="B19">
                            <xs:annotation>
                              <xs:documentation></xs:documentation>
                              <xs:documentation>Foreseen maintenance</xs:documentation>
                              <xs:documentation>Maintenance is foreseen.</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
                          <xs:enumeration value="B20">
                            <xs:annotation>
                              <xs:documentation></xs:documentation>
                              <xs:documentation>Shutdown</xs:documentation>
                              <xs:documentation>A shutdown has occurred.</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
                          <xs:enumeration value="Z01">
                            <xs:annotation>
                              <xs:documentation xml:lang="DE">Außeneinfluss, der auch nicht durch Nutzung des §13 Absatz 2 EnWG beeinflusst werden kann.</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
                          <xs:enumeration value="Z02">
                            <xs:annotation>
                              <xs:documentation xml:lang="DE">Einschränkungen auf Grund von Energielieferverpflichtungen (z. B. Wärme und Dampf; exklusive Strom).</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
                          <xs:enumeration value="Z03">
                            <xs:annotation>
                              <xs:documentation xml:lang="DE">Einschränkungen auf Grund behördlicher oder umweltrechtlicher Vorgaben.</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
                          <xs:enumeration value="Z08">
                            <xs:annotation>
                              <xs:documentation xml:lang="DE">Einschränkung auf Grund marktbedingter Anpassung </xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
                          <xs:enumeration value="Z11">
                            <xs:annotation>
                              <xs:documentation xml:lang="DE">Selbstversorgung mit EE- und KWK-Strom</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Reason" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Wird für Redispatch 2.0 nicht genutzt</xs:documentation>
            <xs:documentation>Ausgabe</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="code">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Wird für Redispatch 2.0 nicht genutzt</xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="B18">
                      <xs:annotation>
                        <xs:documentation></xs:documentation>
                        <xs:documentation>Failure</xs:documentation>
                        <xs:documentation>A failure has occurred.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="B19">
                      <xs:annotation>
                        <xs:documentation></xs:documentation>
                        <xs:documentation>Foreseen maintenance</xs:documentation>
                        <xs:documentation>Maintenance is foreseen.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="B20">
                      <xs:annotation>
                        <xs:documentation></xs:documentation>
                        <xs:documentation>Shutdown</xs:documentation>
                        <xs:documentation>A shutdown has occurred.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Z01">
                      <xs:annotation>
                        <xs:documentation xml:lang="DE">Außeneinfluss, der auch nicht durch Nutzung des §13 Absatz 2 EnWG beeinflusst werden kann.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Z02">
                      <xs:annotation>
                        <xs:documentation xml:lang="DE">Einschränkungen auf Grund von Energielieferverpflichtungen (z. B. Wärme und Dampf; exklusive Strom).</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Z03">
                      <xs:annotation>
                        <xs:documentation xml:lang="DE">Einschränkungen auf Grund behördlicher oder umweltrechtlicher Vorgaben.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Z08">
                      <xs:annotation>
                        <xs:documentation xml:lang="DE">Einschränkung auf Grund marktbedingter Anpassung </xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Z11">
                      <xs:annotation>
                        <xs:documentation xml:lang="DE">Selbstversorgung mit EE- und KWK-Strom</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="DtdBDEWNachrichtenVersion" type="xs:string" fixed="1.1b"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ContentType_1">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16"/>
      <xs:pattern value="\d{13}"/>
      <xs:whiteSpace value="preserve"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ContentType_2">
    <xs:restriction base="xs:string">
      <xs:enumeration value="10YDE-ENBW-----N">
        <xs:annotation>
          <xs:documentation xml:lang="DE">TransnetBW</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10YDE-EON------1">
        <xs:annotation>
          <xs:documentation xml:lang="DE">TenneT</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10YDE-RWENET---I">
        <xs:annotation>
          <xs:documentation xml:lang="DE">Amprion</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10YDE-VE-------2">
        <xs:annotation>
          <xs:documentation xml:lang="DE">50Hertz</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10YFLENSBURG---3">
        <xs:annotation>
          <xs:documentation xml:lang="DE">Flensburg</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="11YRBAHNSTROM--P">
        <xs:annotation>
          <xs:documentation xml:lang="DE">Bahnstrom</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:minLength value="16"/>
      <xs:maxLength value="16"/>
      <xs:pattern value="10Y[A-Z,\d,-]{13}"/>
      <xs:whiteSpace value="preserve"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ContentType_3">
    <xs:restriction base="xs:string">
      <xs:minLength value="11"/>
      <xs:maxLength value="18"/>
      <xs:whiteSpace value="preserve"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ContentType_4">
    <xs:restriction base="xs:string">
      <xs:minLength value="11"/>
      <xs:maxLength value="18"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
