edi_energy_de/FV2610/XSD_1.1_20251001_99991231_20251001_oooo_11661.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:iec62325.351:tc57wg16:451-5:statusrequestdocument:4:1"
    targetNamespace="urn:iec62325.351:tc57wg16:451-5:statusrequestdocument:4:1"
    elementFormDefault="qualified">
		<!-- Diese XSD-Datei baut auf den konsultierten Formatbeschreibungen der XML-Datenformate für den Redispatch 2.0 auf. Der BDEW übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit, Qualität oder wettbewerbsrechtliche Zulässigkeit der bereitgestellten Informationen.
	Der BDEW behält sich vor, in Zukunft eine kostenpflichtige Veröffentlichung der XSD-Datei einzuführen. -->
  <xs:element name="StatusRequest_MarketDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mRID">
          <xs:annotation>
            <xs:documentation>Layout</xs:documentation>
            <xs:documentation xml:lang="DE">Die Identifikation des Dokuments (mRID) hat je Absender und je Dokumententyp eindeutig zu sein. Bei der Bildung der Identifikation ist auf Groß- und Kleinschreibung zu achten (case-sensitive).</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="35"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="type">
          <xs:annotation>
            <xs:documentation>Layout</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="A60">
                <xs:annotation>
                  <xs:documentation></xs:documentation>
                  <xs:documentation>status request for a position independently from a specific process</xs:documentation>
                  <xs:documentation>A status request concerning the position of an object independently of any ongoing processes.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="Z15">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Erreichbarkeitsinformation</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="sender_MarketParticipant.mRID">
          <xs:annotation>
            <xs:documentation>Layout</xs:documentation>
            <xs:documentation xml:lang="DE">Dieses Element dient zur eindeutigen Identifikation des Senders über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer vergebenden Organisation gehören muss.</xs:documentation>
            <xs:documentation xml:lang="DE">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="ContentType_1">
                <xs:attribute name="codingScheme" use="required">
                  <xs:annotation>
                    <xs:documentation xml:lang="DE">Das codingScheme definiert das Codierungssystem für den genutzten Identifikator.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                      <xs:enumeration value="A10">
                        <xs:annotation>
                          <xs:documentation></xs:documentation>
                          <xs:documentation>GS1</xs:documentation>
                          <xs:documentation>The coding scheme for the preceding attribute is the Global Location Number (GLN 13) or Global Service Relation Number (GSRN 18), maintained by GS1.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="NDE">
                        <xs:annotation>
                          <xs:documentation></xs:documentation>
                          <xs:documentation>Germany National coding scheme</xs:documentation>
                          <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="sender_MarketParticipant.marketRole.type">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Dieses Element dient zur Angabe der Marktrolle des Absenders.</xs:documentation>
            <xs:documentation>Layout</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="A18">
                <xs:annotation>
                  <xs:documentation></xs:documentation>
                  <xs:documentation>Grid operator</xs:documentation>
                  <xs:documentation>Refer to role model definitions in the ENTSO-E Harmonised Role Model Document.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="A39">
                <xs:annotation>
                  <xs:documentation></xs:documentation>
                  <xs:documentation>Data provider</xs:documentation>
                  <xs:documentation>A party that is responsible for providing information to a central authority.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="receiver_MarketParticipant.mRID">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Dieses Element dient zur eindeutigen Identifikation des Empfängers über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer vergebenden Organisation gehören muss.</xs:documentation>
            <xs:documentation>Layout</xs:documentation>
            <xs:documentation xml:lang="DE">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="ContentType_1">
                <xs:attribute name="codingScheme" use="required">
                  <xs:annotation>
                    <xs:documentation xml:lang="DE">Das codingScheme definiert die vergebende Organisation der Marktpartner-ID.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                      <xs:enumeration value="A10">
                        <xs:annotation>
                          <xs:documentation></xs:documentation>
                          <xs:documentation>GS1</xs:documentation>
                          <xs:documentation>The coding scheme for the preceding attribute is the Global Location Number (GLN 13) or Global Service Relation Number (GSRN 18), maintained by GS1.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="NDE">
                        <xs:annotation>
                          <xs:documentation></xs:documentation>
                          <xs:documentation>Germany National coding scheme</xs:documentation>
                          <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="receiver_MarketParticipant.marketRole.type">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Dieses Element dient zur Angabe der Marktrolle des Empfängers.</xs:documentation>
            <xs:documentation>Layout</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="A18">
                <xs:annotation>
                  <xs:documentation></xs:documentation>
                  <xs:documentation>Grid operator</xs:documentation>
                  <xs:documentation>Refer to role model definitions in the ENTSO-E Harmonised Role Model Document.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="A27">
                <xs:annotation>
                  <xs:documentation></xs:documentation>
                  <xs:documentation>Resource Provider</xs:documentation>
                  <xs:documentation>Refer to role model definitions in the ENTSO-E Harmonised Role Model Document.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="Z01">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Lieferant</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="createdDateTime">
          <xs:annotation>
            <xs:documentation>Layout</xs:documentation>
            <xs:documentation xml:lang="DE">
Hier ist der Erzeugungszeitpunkt des Dokuments (in der jeweiligen Version) anzugeben. Die Zeitangabe erfolgt in UTC. 
Der Zeitpunkt ist immer im Format yyyy-mm-ddThh:mm:ssZ anzugeben mit:
yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:dateTime">
              <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\d:[0-5]\dZ"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AttributeInstanceComponent" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Ausgabe</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attribute" type="xs:string" fixed="RequestedReturnDocumentType">
                <xs:annotation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="attributeValue" fixed="A17">
                <xs:annotation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="150"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MktActivityRecord" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Ausgabe</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MarketParticipant.mRID">
                <xs:annotation>
                  <xs:documentation>Layout</xs:documentation>
                  <xs:documentation xml:lang="DE">Dieses Element dient zur eindeutigen Identifikation des Marktpartners mit geändertem Kommunikationsstatus über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer vergebenden Organisation gehören muss.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="ContentType_2">
                      <xs:attribute name="codingScheme" use="required">
                        <xs:annotation>
                          <xs:documentation xml:lang="DE">Das codingScheme definiert das Codierungssystem für den genutzten Identifikator.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="A10">
                              <xs:annotation>
                                <xs:documentation></xs:documentation>
                                <xs:documentation>GS1</xs:documentation>
                                <xs:documentation>The coding scheme for the preceding attribute is the Global Location Number (GLN 13) or Global Service Relation Number (GSRN 18), maintained by GS1.</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="NDE">
                              <xs:annotation>
                                <xs:documentation></xs:documentation>
                                <xs:documentation>Germany National coding scheme</xs:documentation>
                                <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="status">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Für Prozessteilnehmer die am Prozess teilnehmen, können die Statuscodes A03 und A04 übermittelt werden. Bei Entziehung der Einwilligung wird einmalig der Statuscode A13 gesendet. </xs:documentation>
                  <xs:documentation>Layout</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="A03">
                      <xs:annotation>
                        <xs:documentation></xs:documentation>
                        <xs:documentation>Deactivated</xs:documentation>
                        <xs:documentation>The object being reported has been deactivated.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="A04">
                      <xs:annotation>
                        <xs:documentation></xs:documentation>
                        <xs:documentation>Reactivated</xs:documentation>
                        <xs:documentation>The object being reported has been reactivated.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="A13">
                      <xs:annotation>
                        <xs:documentation></xs:documentation>
                        <xs:documentation>Withdrawn</xs:documentation>
                        <xs:documentation>The information has been withdrawn by the submitter.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="DtdBDEWNachrichtenVersion" type="xs:string" fixed="1.1"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ContentType_1">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16"/>
      <xs:pattern value="\d{13}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ContentType_2">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
