edi_energy_de/FV2410/XSD_1.0c_20241001_20250930_20241001_oooo_9485.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">
		<!-- Diese XSD-Datei baut auf den konsultierten Formatbeschreibungen der XML-Datenformate für den Redispatch 2.0 auf. Der BDEW übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit, Qualität oder wettbewerbsrechtliche Zulässigkeit der bereitgestellten Informationen.
	Der BDEW behält sich vor, in Zukunft eine kostenpflichtige Veröffentlichung der XSD-Datei einzuführen. -->
  <xs:element name="Kostenblatt">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DocumentIdentification">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Die DocumentIdentification hat je Absender und je Dokumententyp eindeutig zu sein. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
                  <xs:whiteSpace value="preserve"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="DocumentVersion">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Die DocumentVersion (auch als Meldungsversion bezeichnet) gibt die Version eines Dokumentes an, welches über die DocumentIdentification identifiziert wird. Mit jeder Aktualisierung wird die Versionsangabe kontinuierlich, mit 1  beginnend, hochgezählt. Die jeweils höchste DocumentVersion kennzeichnet die aktuelle Version.</xs:documentation>
            <xs:documentation xml:lang="DE">Maximum 999 gemäß Pattern</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:pattern value="[1-9][0-9]{0,2}"/>
                  <xs:whiteSpace value="collapse"/>
                  <xs:maxInclusive value="999"/>
                  <xs:minInclusive value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="DocumentType">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Der DocumentType dient zur eindeutigen Kennzeichnung des Dokumenttyps.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="Z05">
                    <xs:annotation>
                      <xs:documentation xml:lang="DE">Kostenblatt</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="ProcessType">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Der ProcessType gibt an, in welchem Prozess dieses Dokument eingesetzt wird.</xs:documentation>
            <xs:documentation xml:lang="DE">Forecast</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="A14">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>Forecast</xs:documentation>
                      <xs:documentation>The data contained in the document are to be handled in short, medium, long term forecasting process.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="SenderIdentification">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Dieses Element dient zur eindeutigen Identifikation des Senders über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer vergebenden Organisation gehören muss.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="DE">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="13"/>
                  <xs:pattern value="\d{13}"/>
                  <xs:whiteSpace value="preserve"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="codingScheme" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="DE">Das codingScheme definiert das Codierungssystem für den genutzten Identifikator.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="A10">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>GS1</xs:documentation>
                      <xs:documentation>The coding scheme for the preceding attribute is the Global Location Number (GLN 13) or Global Service Relation Number (GSRN 18), maintained by GS1.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="NDE">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>Germany National coding scheme</xs:documentation>
                      <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="SenderRole">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Dieses Element dient zur Angabe der Marktrolle des Absenders.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="A18">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>Grid operator</xs:documentation>
                      <xs:documentation>Refer to role model definitions in the ENTSO-E Harmonised Role Model Document.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="A27">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>Resource Provider</xs:documentation>
                      <xs:documentation>Refer to role model definitions in the ENTSO-E Harmonised Role Model Document.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="A39">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>Data provider</xs:documentation>
                      <xs:documentation>A party that is responsible for providing information to a central authority.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="ReceiverIdentification">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Dieses Element dient zur eindeutigen Identifikation des Empfängers über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer vergebenden Organisation gehören muss.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="DE">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="13"/>
                  <xs:pattern value="\d{13}"/>
                  <xs:whiteSpace value="preserve"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="codingScheme" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="DE">Das codingScheme definiert das Codierungssystem für den genutzten Identifikator.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="A10">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>GS1</xs:documentation>
                      <xs:documentation>The coding scheme for the preceding attribute is the Global Location Number (GLN 13) or Global Service Relation Number (GSRN 18), maintained by GS1.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="NDE">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>Germany National coding scheme</xs:documentation>
                      <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="ReceiverRole">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Dieses Element dient zur Angabe der Marktrolle des Empfängers.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="A18">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>Grid operator</xs:documentation>
                      <xs:documentation>Refer to role model definitions in the ENTSO-E Harmonised Role Model Document.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="A39">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>Data provider</xs:documentation>
                      <xs:documentation>A party that is responsible for providing information to a central authority.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="DocumentDateTime">
          <xs:annotation>
            <xs:documentation xml:lang="DE">
Hier ist der Erzeugungszeitpunkt des Dokuments (in der jeweiligen Version) anzugeben. Die Zeitangabe erfolgt in UTC. 

Der Zeitpunkt ist immer im Format yyyy-mm-ddThh:mm:ssZ anzugeben mit:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
            </xs:documentation>
            <xs:documentation xml:lang="DE">Zeitpunkt in UTC gemäß Pattern</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="DE">Zeitpunkt in UTC gemäß Pattern</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:dateTime">
                  <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\d:[0-5]\dZ"/>
                  <xs:whiteSpace value="collapse"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="TimePeriodCovered">
          <xs:annotation>
            <xs:documentation xml:lang="DE">
Das Zeitintervall (von Beginn des Erfüllungszeitraums bis Ende des Erfüllungszeitraums) ist im UTC-Format yyyy-mm-ddThh:mmZ/ yyyy-mmddThh:mmZ wie folgt anzugeben:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
/ Trennzeichen zwischen beiden Zeitangaben
            </xs:documentation>
            <xs:documentation xml:lang="DE">Zeitintervall in UTC gemäß Pattern</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:annotation>
                <xs:documentation>
ISO 8601 time intervals are always expressed in the form 
			yyyy-mm-ddThh:mmZ/yyyy-mm-ddThh:mmZ
			Note: The minimum XML form of dateTime is yyyy-mm-ddThh:mm:ssZ
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\dZ/20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\dZ"/>
                  <xs:whiteSpace value="preserve"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="CostTimeSeries" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Der Absender kann so viele Zeitreihen wie nötig zur Erfüllung seiner Datenlieferpflichten in einem Dokument übertragen. Einmal enthaltene Zeitreihen dürfen bei Aktualisierungen nicht entfernt werden. Sofern eine Zeitreihe irrtümlich übertragen wurde, kann diese ab der nächsten höheren Version mit Nullwerten aktualisiert werden. Rückwirkende Änderungen sind nicht möglich. Muss ein Wert geändert werden, sind in der korrigierten Version die Werte aller Viertelstundenzeitintervalle, bei denen der Zeitpunkt des Beginns der Viertelstunde vor dem Zeitpunkt liegen, zu dem das Dokument beim Empfänger eintrifft, nicht mehr anzupassen. Es können/dürfen lediglich die Werte der vollen Viertelstunden angepasst werden, bei denen der Zeitpunkt des Beginns der Viertelstunde nach dem Zeitpunkt liegen, zu dem das Dokument beim Empfänger eintrifft.</xs:documentation>
            <xs:documentation xml:lang="DE">Zeitreihe für die Übermittlung von Kosten</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TimeSeriesIdentification">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Eindeutiger Identifikator einer Zeitreihe. Die TimeSeriesIdentification (auch als Zeitreihenreferenznummer bezeichnet) darf je DocumentIdentification nur einmal vorkommen und wird vom Absender für genau eine Kombination aus BusinessType, Direction, ResourceObject und ConnectingArea vergeben.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35"/>
                        <xs:whiteSpace value="preserve"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="BusinessType">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Der BusinessType definiert (ggf. im Zusammenhang mit der Direction) den Zeitreihentyp.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="A01">
                          <xs:annotation>
                            <xs:documentation></xs:documentation>
                            <xs:documentation>Production - Arbeitsabhängige Kosten (Energieeinspeisung)</xs:documentation>
                            <xs:documentation>The nature of the business being described is production details.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="A04">
                          <xs:annotation>
                            <xs:documentation></xs:documentation>
                            <xs:documentation>Consumption - Arbeitsabhängige Kosten (Energieaufnahme)</xs:documentation>
                            <xs:documentation>The nature of the business being described is consumption details.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="Z01">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">Anfahrkosten</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="Z02">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">Kosten für zusätzliche Betriebsstunde durch Redispatch</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="Z03">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">Vermiedene Netzentgelte (Arbeitserlöse)</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="Z06">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">Zusatzkosten für -wRDV</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Direction" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Die Direction beschreibt die Richtung des Energieflusses und wird ggf. zusätzlich zum BusinessType zur Bestimmung des Zeitreihentyps verwendet.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="A01">
                          <xs:annotation>
                            <xs:documentation></xs:documentation>
                            <xs:documentation>UP</xs:documentation>
                            <xs:documentation>Up signifies that the available power can be used by the Purchasing area to increase energy.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="A02">
                          <xs:annotation>
                            <xs:documentation></xs:documentation>
                            <xs:documentation>DOWN</xs:documentation>
                            <xs:documentation>Down signifies that the available power can be used by the Purchasing area to decrease energy.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Product">
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="8716867000016">
                          <xs:annotation>
                            <xs:documentation></xs:documentation>
                            <xs:documentation>Active power</xs:documentation>
                            <xs:documentation>The product of voltage and the in-phase component of alternating current measured in units of watts and standard multiples thereof.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="ConnectingArea" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="10YDE-ENBW-----N">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">TransnetBW</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="10YDE-EON------1">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">TenneT</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="10YDE-RWENET---I">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">Amprion</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="10YDE-VE-------2">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">50Hertz</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="10YFLENSBURG---3">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">Flensburg</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:maxLength value="16"/>
                        <xs:pattern value="10Y[A-Z,\d,-]{13}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="codingScheme" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="A01">
                          <xs:annotation>
                            <xs:documentation></xs:documentation>
                            <xs:documentation>EIC</xs:documentation>
                            <xs:documentation>The coding scheme is the Energy Identification Coding Scheme (EIC), maintained by ENTSO-E.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="ResourceObject">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Es ist der Identifikator der Steuerbaren Ressource|Cluster Ressource|Steuergruppe anzugeben, für welchen die Zeitreihen gemeldet werden. Für die Steuerbaren Ressource|Cluster Ressource|Steuergruppe ist der 11-stellige Ressourcen-Code anzuwenden. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="EN">Identifikator</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="11"/>
                        <xs:pattern value="[ABC][A-Z\d]{9}\d"/>
                        <xs:whiteSpace value="preserve"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="codingScheme" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="DE">Das codingScheme definiert das Codierungssystem für den genutzten Identifikator.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="NDE">
                          <xs:annotation>
                            <xs:documentation></xs:documentation>
                            <xs:documentation>Germany National coding scheme</xs:documentation>
                            <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="ResourceProvider" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Enthält die Marktpartner-ID des Einsatzverantwortlichen für die Steuerbare Ressource und die Marktpartner-ID des Netzbetreibers für die Cluster Ressourcen und Steuergruppen.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="DE">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="13"/>
                        <xs:pattern value="\d{13}"/>
                        <xs:whiteSpace value="preserve"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="codingScheme" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="DE">Das codingScheme definiert das Codierungssystem für den genutzten Identifikator.</xs:documentation>
                      <xs:documentation xml:lang="DE">GS1 oder BDEW-Code der Marktpartner-ID in der entsprechenden Rolle</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="A10">
                          <xs:annotation>
                            <xs:documentation></xs:documentation>
                            <xs:documentation>GS1</xs:documentation>
                            <xs:documentation>The coding scheme for the preceding attribute is the Global Location Number (GLN 13) or Global Service Relation Number (GSRN 18), maintained by GS1.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="NDE">
                          <xs:annotation>
                            <xs:documentation></xs:documentation>
                            <xs:documentation>Germany National coding scheme</xs:documentation>
                            <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="CurveType">
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="A03">
                          <xs:annotation>
                            <xs:documentation></xs:documentation>
                            <xs:documentation>Variable sized Block</xs:documentation>
                            <xs:documentation>The curve is made of successive Intervals of time (Blocks) of variable duration (size), where the end date and end time of each Block are equal to the start date and start time of the next Interval. For the last Block the end date and end time of the last Interval would be equal to EndDateTime of TimeInterval.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="MeasurementUnit">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Hier wird die physikalische Einheit des im Element Qty angegebenen Wertes spezifiziert.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="Z01">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">Euro pro Stück</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="Z02">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">Euro pro Megawattstunde</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="Z03">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">Euro pro Stunde</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Status" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Der Status beschreibt entweder den Mono- oder Duobetrieb, oder kalte, warme oder heiße Anfahrkosten. Er wird ggf. zusätzlich zum BusinessType zur Bestimmung des Zeitreihentyps verwendet.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="Z01">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">Normal-/Monobetrieb</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="Z02">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">Duobetrieb</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="Z03">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">kalt</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="Z04">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">warm</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="Z05">
                          <xs:annotation>
                            <xs:documentation xml:lang="DE">heiß</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="OriginalSenderIdentification" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="DE">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="13"/>
                        <xs:pattern value="\d{13}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="codingScheme" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="A10">
                          <xs:annotation>
                            <xs:documentation></xs:documentation>
                            <xs:documentation>GS1</xs:documentation>
                            <xs:documentation>The coding scheme for the preceding attribute is the Global Location Number (GLN 13) or Global Service Relation Number (GSRN 18), maintained by GS1.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="NDE">
                          <xs:annotation>
                            <xs:documentation></xs:documentation>
                            <xs:documentation>Germany National coding scheme</xs:documentation>
                            <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="OriginalDocumentIdentification" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="OriginalDocumentVersion" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Die DocumentVersion (auch als Meldungsversion bezeichnet) gibt die Version eines Dokumentes an, welches über die DocumentIdentification identifiziert wird. Mit jeder Aktualisierung wird die Versionsangabe kontinuierlich, mit 1 beginnend, hochgezählt. Die jeweils höchste DocumentVersion kennzeichnet die aktuelle Version.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:integer">
                        <xs:pattern value="[1-9][0-9]{0,2}"/>
                        <xs:maxInclusive value="999"/>
                        <xs:minInclusive value="1"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="OriginalDocumentDateTime" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">
Das Format yyyy-mm-ddThh:mmZ ist anzugeben mit:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="DE">Zeitpunkt in UTC gemäß Pattern</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:dateTime">
                        <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\d:[0-5]\dZ"/>
                        <xs:whiteSpace value="collapse"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="OriginalTimeSeriesIdentification" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Period">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Das Element Period darf nur einmal je TimeSeriesIdentification angeführt werden. Eine Aufteilung der Werte auf mehrere Period - Elemente unter einer TimeSeriesIdentification ist nicht zulässig.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TimeInterval">
                      <xs:annotation>
                        <xs:documentation xml:lang="DE">
Hier erfolgt die Angabe des Zeitintervalls für die zugehörige Periode in der Zeitreihe (von Beginn des Erfüllungszeitraums bis Ende des Erfüllungszeitraums). 
Die Angabe erfolgt im UTC-Format yyyy-mmddThh: mmZ/yyyy-mm-ddThh:mmZ: 

yyyy vier Ziffern für die Jahresangabe 
mm zwei Ziffern für die Monatsangabe 
dd zwei Ziffern für die Tagesangabe 
hh zwei Ziffern für die Stundenangabe 
mm zwei Ziffern für die Minutenangabe 
T Trennzeichen zwischen Datum und Uhrzeit 
Z Verweis auf UTC 
/ Trennzeichen zwischen beiden Zeitangaben
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="v" use="required">
                          <xs:annotation>
                            <xs:documentation>
ISO 8601 time intervals are always expressed in the form 
			yyyy-mm-ddThh:mmZ/yyyy-mm-ddThh:mmZ
			Note: The minimum XML form of dateTime is yyyy-mm-ddThh:mm:ssZ
                            </xs:documentation>
                            <xs:documentation xml:lang="DE">Unbeschränkter Zeitraum in UTC</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\dZ/20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\dZ"/>
                              <xs:whiteSpace value="preserve"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Resolution">
                      <xs:annotation>
                        <xs:documentation xml:lang="DE">Angabe der Zeitintervallgröße für die Positionen (Elemente Pos) der Zeitreihe.</xs:documentation>
                        <xs:documentation xml:lang="DE">Viertelstundenauflösung</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="v" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:duration">
                              <xs:enumeration value="PT15M">
                                <xs:annotation>
                                  <xs:documentation xml:lang="DE">Viertelstundenauflösung</xs:documentation>
                                </xs:annotation>
                              </xs:enumeration>
                              <xs:whiteSpace value="collapse"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Interval" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation xml:lang="DE">Hier ist die Position des Punktes in der Zeitreihe anzugeben. Der Startzeitpunkt ist als Position 1 immer anzugeben. Weitere Positionen müssen zwingend nur angegeben werden, wenn sich innerhalb von Interval die quantity ändert. Für den größten Wert einer Position einer Period muss gelten: Startzeitpunkt + {(größter Wert einer Position) -1}* resolution &lt; Endzeitpunkt.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Pos">
                            <xs:annotation>
                              <xs:documentation xml:lang="DE">Angabe der Position des im nachfolgenden Qty-Element übertragenen Wertes in der Zeitreihe.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="v" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:integer">
                                    <xs:pattern value="[1-9]([0-9]){0,5}"/>
                                    <xs:whiteSpace value="collapse"/>
                                    <xs:maxInclusive value="999999"/>
                                    <xs:minInclusive value="1"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Qty">
                            <xs:annotation>
                              <xs:documentation xml:lang="DE">
max. 2 Nachkommastellen, zulässiger Wertebereich von -999999.99 bis 999999.99
Hinweis: Das Dezimaltrennzeichen in der XML Datei wird über einen Punkt "." abgebildet.
Es handelt sich um die Netto-Preise mit Umlagen, sofern es Umlagen gibt.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="v" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:pattern value="-?[\d]{1,6}(\.[\d]{1,2})?|-?(\.[\d]{1,2})"/>
                                    <xs:whiteSpace value="collapse"/>
                                    <xs:fractionDigits value="2"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="DtdBDEWNachrichtenVersion" type="xs:string" fixed="1.0c" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
