edi_energy_de/past/StammdatenXSD-informatorischeLesefassung1.1KonsolidierteLesefassungmitFehlerkorrekturenStand23.05.2022_20220930_20220523.xsd

<!-- Diese XSD-Datei dient als informatorische Lesefassung und baut auf den konsultierten Formatbeschreibungen und Anwendungstabellen der XML-Datenformate für den Redispatch 2.0 auf. 
Diese XSD-Datei wird bis auf Weiteres rein informatorisch und ergänzend veröffentlicht. Der BDEW behält sich vor, in Zukunft eine kostenpflichtige Veröffentlichung der XSD-Datei einzuführen. -->
<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:kwep_stammdaten:1:0"
    targetNamespace="urn:kwep_stammdaten:1:0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
  <xs:element name="Stammdaten" type="RD2.0_StammdatenT"/>
  <xs:simpleType name="Abrechnungsmodell">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Z01">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">PAUSCHAL</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Z02">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">SPITZ</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Z03">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">SPITZLIGHT</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Abrufart_Aufforderungsfall">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Z01">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">DELTA</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Z02">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">SOLLWERT</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AnschlussortT">
    <xs:sequence>
      <xs:element name="Regelzone" type="Regelzone" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Mit Regelzone wird angegeben, in welcher deutschen Regelzone sich die technische Ressource bzw. die Produktionsanlage befindet.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Messlokation" type="MesslokationCodeT" minOccurs="0"/>
      <xs:element name="Spannungsebene" type="SpannungsebeneT" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BetriebT">
    <xs:sequence>
      <xs:element name="Stilllegungszeitpunkt_vorlaeufig" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">
Hier ist der Tag anzugeben, ab der vorläufige Stilllegungszeitpunkt gültig ist. Dieser Tag muss in der Zukunft liegen. 
Das Format dafür ist yyyy-mm-dd mit:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
          </xs:documentation>
          <xs:documentation source="Example">2019-01-01</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Stilllegungszeitpunkt_endgueltig" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">
Hier ist der Tag anzugeben, ab der endgültige Stilllegungszeitpunkt gültig ist. Dieser Tag muss in der Zukunft liegen. 
Das Format dafür ist yyyy-mm-dd mit:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
          </xs:documentation>
          <xs:documentation source="Example">2019-01-01</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Bilanzierungsmodell">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Z01">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">PLANWERT</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Z02">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">PROGNOSE</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Z03">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">PROGNOSE MIT PLANUNGSDATENLIEFERUNG</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Bilanzkreis">
    <xs:restriction base="xs:string">
      <xs:length value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Code_Kraftwerk">
    <xs:restriction base="xs:string">
      <xs:length value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Code_KraftwerkT">
    <xs:simpleContent>
      <xs:extension base="Code_Kraftwerk">
        <xs:attribute name="Codierung">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="A01">
                <xs:annotation>
                  <xs:documentation xml:lang="DE" source="Name">EIC</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:length value="3"/>
              <xs:pattern value="\c+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CR_Objekt_ReferenzT">
    <xs:annotation>
      <xs:documentation xml:lang="DE" source="Desc">Referenz der enthaltenen Cluster-Ressourcen</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Codierung" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="NDE">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Germany National coding scheme</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:pattern value="\c+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Code" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="11"/>
          <xs:pattern value="A[A-Z\d]{9}\d"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="enthaltene_Objektreferenzen_CR_T">
    <xs:annotation>
      <xs:documentation xml:lang="DE" source="Remark">enthaltene SG, SR, CR</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SR_Objekt_Referenz" type="SR_Objekt_ReferenzT" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CR_Objekt_Referenz" type="CR_Objekt_ReferenzT" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SG_Objekt_Referenz" type="SG_Objekt_ReferenzT" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enthaltene_Objektreferenzen_SG_T">
    <xs:sequence>
      <xs:element name="SR_Objekt_Referenz" type="SR_Objekt_ReferenzT" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeokoordinatenT">
    <xs:attribute name="LaengeOst" type="Geokoordination" use="required" form="unqualified">
      <xs:annotation>
        <xs:documentation source="Example">12.123456</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="BreiteNord" type="Geokoordination" use="required" form="unqualified">
      <xs:annotation>
        <xs:documentation source="Example">52.123456</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="Geokoordination">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:fractionDigits value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GradientT">
    <xs:sequence>
      <xs:element name="Basisgröße" type="LeistungT" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">Angabe der installierten Leistung bzw. Basisgröße in MW, die im Falle der Nutzung von Z01 "%/min" zu berücksichtigen ist.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Gradient" type="Leistung" use="required"/>
    <xs:attribute name="Einheit" use="required" form="unqualified">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Z01">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">%/min (% der installierten Leistungen pro Minute)</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Z02">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">MW/min (Megawatt pro Minute)</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:pattern value="\c+"/>
          <xs:whiteSpace value="collapse"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="GradientT_Nennleistung">
    <xs:simpleContent>
      <xs:extension base="Leistung">
        <xs:attribute name="Einheit" use="required" form="unqualified">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Z01">
                <xs:annotation>
                  <xs:documentation xml:lang="DE" source="Name">%/min (% der installierten Leistungen pro Minute)</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="Z02">
                <xs:annotation>
                  <xs:documentation xml:lang="DE" source="Name">MW/min (Megawatt pro Minute)</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:pattern value="\c+"/>
              <xs:whiteSpace value="collapse"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Basisgröße" type="Leistung">
          <xs:annotation>
            <xs:documentation source="Abhängigkeit">Angabe der installierten Leistung bzw. Basisgröße in MW, die im Falle der Nutzung von Z01 "%/min" zu berücksichtigen ist.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="IndicatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A01">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">YES</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="A02">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">NO</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Leistung">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:fractionDigits value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LeistungT">
    <xs:simpleContent>
      <xs:extension base="Leistung">
        <xs:attribute name="Einheit" use="required" form="unqualified">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="MAW">
                <xs:annotation>
                  <xs:documentation xml:lang="DE" source="Name">Megawatt</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MarktlokationT">
    <xs:sequence>
      <xs:element name="Bilanzkreis_Marktlokation" type="Bilanzkreis" minOccurs="0"/>
      <xs:element name="Tranche" type="TrancheT" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Spannungsebene_Marktlokation" type="SpannungsebeneT" minOccurs="1"/>
      <xs:element name="Umspannung_Marktlokation" type="Umspannung_der_MarktlokationT" minOccurs="0"/>
      <xs:element name="Messlokation" type="MesslokationT" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="Lieferant_Marktlokation" type="MarktpartnerT" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">MP-ID des Lieferanten an der Marktlokation</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Code" type="Marktlokation_ID_T" use="required"/>
    <xs:attribute name="Lieferrichtung" use="required" form="unqualified">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="A01">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">production</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="A04">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">consumption</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="Marktlokation_ID_T">
    <xs:restriction base="xs:string">
      <xs:length value="11"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MarktpartnerT">
    <xs:attribute name="Codierung" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="A10">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">GS1</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="NDE">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Germany National coding scheme</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:length value="3"/>
          <xs:pattern value="\c+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Code" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="13"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MarktpartnerT_BetroffeneNB">
    <xs:annotation>
      <xs:documentation xml:lang="DE" source="Remark">„NB-Kaskade“ Inkl. ANB und alle vorgelagerten NB des ANB bis einschl. des NB des Unternehmens Übertragungsnetzbetreiber.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Codierung" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="A10">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">GS1</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="NDE">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Germany National coding scheme</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:length value="3"/>
          <xs:pattern value="\c+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Code" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="13"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Pos" type="xs:positiveInteger" use="required"/>
  </xs:complexType>
  <xs:complexType name="MarktpartnerT_WeitereBetroffeneNB">
    <xs:attribute name="Codierung" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="A10">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">GS1</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="NDE">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Germany National coding scheme</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:length value="3"/>
          <xs:pattern value="\c+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Code" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="13"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MarktrolleEmpfaengerT">
    <xs:attribute name="Codierung" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="A10">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">GS1</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="NDE">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Germany National coding scheme (BDEW-Code)</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:length value="3"/>
          <xs:pattern value="\c+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Code" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="13"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MarktrolleSenderT">
    <xs:attribute name="Codierung" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="A10">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">GS1</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="NDE">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Germany National coding scheme</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:length value="3"/>
          <xs:pattern value="\c+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Code" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="13"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="MaStrR-Nr">
    <xs:restriction base="xs:string">
      <xs:length value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Meldungsstatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A14">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">Creation (The action requested to be carried out is the creation of a new object.)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="A15">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">Update (The action requested to be carried out is the update of an existing object.)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MesslokationCodeT">
    <xs:restriction base="xs:string">
      <xs:maxLength value="33"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MesslokationT">
    <xs:sequence>
      <xs:element name="Code" type="MesslokationCodeT" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Nabenhoehe">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NabenhoeheT">
    <xs:simpleContent>
      <xs:extension base="Nabenhoehe">
        <xs:attribute name="Einheit" use="required" form="unqualified">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="MTR">
                <xs:annotation>
                  <xs:documentation xml:lang="DE" source="Name">Meter</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="nutzbarer_Energieinhalt">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:fractionDigits value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="nutzbarer_EnergieinhaltT">
    <xs:simpleContent>
      <xs:extension base="nutzbarer_Energieinhalt">
        <xs:attribute name="Einheit" use="required" form="unqualified">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="MWH">
                <xs:annotation>
                  <xs:documentation xml:lang="DE" source="Name">Megawattstunden</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ObjektTyp_CR_T">
    <xs:sequence>
      <xs:element name="Klarname" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">
Bei W-Codes (EIC): Displayname; 
Bei Messlokation: lesbarer Klarname gemäß folgender Konvention:
- Konventionelle Kraftwerke: ORTSNAME_KW-TYP_BLOCK 
- EE-SEE: ORTSNAME_ENERGIETRAEGER_LFD-Nr
          </xs:documentation>
          <xs:documentation source="Example">MUSTERSTADT_WIND</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:pattern value="([A-Z0-9\-\+\\_]*)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Clusternder_Netzbetreiber" type="MarktpartnerT" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Betroffene_Netzbetreiber" type="MarktpartnerT_BetroffeneNB" minOccurs="1" maxOccurs="6">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">„NB-Kaskade“ Inkl. ANB und alle vorgelagerten NB des ANB bis einschl. des NB des Unternehmens Übertragungsnetzbetreiber.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Weitere_betroffene_Netzbetreiber" type="MarktpartnerT_WeitereBetroffeneNB" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">Hier können weitere betroffene NB (außerhalb der direkten vertikalen Netzebene) angegeben werden, die über Prognosen und Abrufe zu informieren sind.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tx_Cluster" type="ZeitT" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">Zeit, ab der die übermittelten Planungsdaten für die CR als verbindlich anzusehen sind.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="T_Abruf_final" type="ZeitT" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">Letztmöglicher Zeitpunkt vor Erfüllung zum Abruf der CR (z.B. für De-Clustern) – 5 Minuten oder weniger</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Enthaltene_Objektreferenzen" type="enthaltene_Objektreferenzen_CR_T" minOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Codierung" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NDE">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Germany National coding scheme</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Code" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="DE" source="Remark">Eindeutiger Identifier je Objekttyp. </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="11"/>
          <xs:pattern value="A[A-Z\d]{9}\d"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ObjektTyp_SG_T">
    <xs:sequence>
      <xs:element name="Klarname" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">
Bei W-Codes (EIC): Displayname; 
Ansonsten: lesbarer Klarname gemäß folgender Konvention:
- Konventionelle Kraftwerke: ORTSNAME_KW-TYP_BLOCK 
- EE-SEE: ORTSNAME_ENERGIETRAEGER_LFD-Nr
          </xs:documentation>
          <xs:documentation source="Example">MUSTERSTADT_WIND</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:pattern value="([A-Z0-9\-\+\\_]*)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Anschluss_Netzbetreiber" type="MarktpartnerT" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Betroffene_Netzbetreiber" type="MarktpartnerT_BetroffeneNB" minOccurs="1" maxOccurs="6"/>
      <xs:element name="Weitere_betroffene_Netzbetreiber" type="MarktpartnerT_WeitereBetroffeneNB" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">Hier können weitere betroffene NB (außerhalb der direkten vertikalen Netzebene) angegeben werden, die über Prognosen und Abrufe zu informieren sind.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Steuerbarkeit" type="SteuerbarkeitT" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">Entweder Stufen ODER Schritte angegeben. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="T_Abruf_final" type="ZeitT" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">Letztmöglicher Zeitpunkt vor Erfüllung zum Abruf der SG – 5 Minuten oder weniger</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Enthaltene_Objektreferenzen" type="enthaltene_Objektreferenzen_SG_T" minOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Codierung" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NDE">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Germany National coding scheme</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Code" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="DE" source="Remark">Eindeutiger Identifier je Objekttyp. </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="11"/>
          <xs:pattern value="B[A-Z\d]{9}\d"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ObjektTyp_SR_T">
    <xs:sequence>
      <xs:element name="Klarname" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">
Bei W-Codes (EIC): Displayname; 
Ansonsten: lesbarer Klarname gemäß folgender Konvention:
- Konventionelle Kraftwerke: ORTSNAME_KW-TYP_BLOCK 
- EE-SEE: ORTSNAME_ENERGIETRAEGER_LFD-Nr
          </xs:documentation>
          <xs:documentation source="Example">MUSTERSTADT_WIND</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:pattern value="([A-Z0-9\-\+\\_]*)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Anschluss_Netzbetreiber" type="MarktpartnerT" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Anweisender_Netzbetreiber" type="MarktpartnerT" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Betroffene_Netzbetreiber" type="MarktpartnerT_BetroffeneNB" minOccurs="0" maxOccurs="6">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">„NB-Kaskade“ Inkl. ANB und alle vorgelagerten NB des ANB bis einschl. des NB des Unternehmens Übertragungsnetzbetreiber.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Weitere_betroffene_Netzbetreiber" type="MarktpartnerT_WeitereBetroffeneNB" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">Hier können weitere betroffene NB (außerhalb der direkten vertikalen Netzebene) angegeben werden, die über Prognosen und Abrufe zu informieren sind. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Einsatzverantwortlicher" type="MarktpartnerT" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Energietraeger" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Der komplexe Typ Energietraeger wird nur für Stromerzeugungseinheiten (SEE) verwendet. Es wird der Hauptenergieträger angegeben, auf den der größte Anteil der im letzten Jahr erzeugten Strommenge entfällt.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="B01">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Biomasse</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B02">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Braunkohle</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B03">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Fossiles Gas aus Kohle gewonnen</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B04">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Erdgas</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B05">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Steinkohle</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B06">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Mineralölprodukte</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B09">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Geothermie</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B10">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Pumpspeicher</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B11">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Laufwasser</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B12">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Speicherwasser (ohne Pumpspeicher)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B14">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Kernenergie</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B15">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Deponiegas, Grubengas, Klärgas</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B16">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Solare Strahlungsenergie</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B17">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Abfall</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B18">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Windenergie (Offshore-Anlage)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B19">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Windenergie (Onshore-Anlage)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B20">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Mehrere Energieträger (nicht erneuerbar), Sonstige Energieträger (nicht erneuerbar), Unbekannter Energieträger (nicht erneuerbar)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Z01">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Batteriespeicher</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Verguetungsart" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Z01">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">EEG</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Z02">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">KWKG</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Z03">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Sonstiges</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Status_Duldungsfall" type="IndicatorType" minOccurs="0"/>
      <xs:element name="Steuerbarkeit" type="SteuerbarkeitT" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">Entweder Stufen ODER Schritte angegeben. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Abrufart_Aufforderungsfall" type="Abrufart_Aufforderungsfall" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">nur im Aufforderungsfall</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Bilanzierungsmodell" type="Bilanzierungsmodell" minOccurs="1"/>
      <xs:element name="Bearbeitungszeit_EIV" type="ZeitT" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">Nur im Aufforderungsfall befüllen. </xs:documentation>
          <xs:documentation xml:lang="DE" source="Desc">Zeit von Eingang einer Aufforderung beim EIV bis zur Umsetzung in der Anlage.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Regelzone" type="Regelzone" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Mit Regelzone wird angegeben, in welcher deutschen Regelzone sich die steuerbare Ressource befindet.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Technische_Parameter" type="Technische_Parameter_SR_T" minOccurs="0"/>
      <xs:element name="Enthaltene_TR" type="ObjektTyp_TR_T" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="Codierung" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NDE">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Germany National coding scheme</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Code" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="DE" source="Remark">Eindeutiger Identifier je Objekttyp. </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="11"/>
          <xs:pattern value="C[A-Z\d]{9}\d"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ObjektTyp_TR_T">
    <xs:annotation>
      <xs:documentation xml:lang="DE" source="Remark">Informationen der enthaltenen Technischen Ressourcen.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MaStR-Nr" type="MaStrR-Nr" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Dieses Element dient zur eindeutigen Identifikation des Objekts über die Marktstammdatenregisternummer.</xs:documentation>
          <xs:documentation source="Example">SEE999999999993</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Klarname" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">
Bei W-Codes (EIC): Displayname; 
Ansonsten: lesbarer Klarname gemäß folgender Konvention:
- Konventionelle Kraftwerke: ORTSNAME_KW-TYP_BLOCK 
- EE-SEE: ORTSNAME_ENERGIETRAEGER_LFD-Nr
          </xs:documentation>
          <xs:documentation source="Example">MUSTERSTADT_WIND</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:pattern value="([A-Z0-9\-\+\\_]*)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Typ" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">
Zur Unterscheidung zwischen Erzeugern und Speichern:
- Steuerbare Erzeugungseinheit (SEE)
- Steuerbare Speichereinheit (SSE)
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="SEE">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Stromerzeugungseinheit</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSE">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Stromspeichereinheit</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Code_Kraftwerk" type="Code_KraftwerkT" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Code_Kraftwerk enthält den W-Code des übergeordneten Kraftwerkes im Falle von Stromerzeugungs- und -speichereinheiten (SEE / SSE). Für SSE ist die Angabe des W-Codes des übergeordneten Kraftwerks im Prinzip optional; verpflichtend wird sie nur, wenn dieser KW-Code aus anderweitigen Gründen benötigt werden sollte und die SSE explizit zur Übermittlung dieses Datums aufgefordert wurde.</xs:documentation>
          <xs:documentation source="Example">11WMUSTER-KW---2</xs:documentation>
          <xs:documentation source="Abhängigkeit">(nur bei SEE / SSE)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Zuordnung_Speicher" type="ZuordnungT_Speicher" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">Angabe ob eine SEE über einen zugeordneten SSE verfügt, der die SEE-Leistung (teilweise) aufnehmen kann.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Marktlokation" type="MarktlokationT" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Marktlokation enthält die ID der Marktlokation (MaLo-ID) der Einheit.</xs:documentation>
          <xs:documentation source="Example">42647899999</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EEG_Anlagenschluessel" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Abrechnungsmodell" type="Abrechnungsmodell" minOccurs="1"/>
      <xs:element name="Betreiber_TR" type="MarktpartnerT" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Dieses Element dient zur eindeutigen Identifikation des Betreibers der Technischen Ressource über seine Marktpartner-ID.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Betrieb" type="BetriebT" minOccurs="0"/>
      <xs:element name="Technische_Parameter" type="Technische_Parameter_TR_T" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="Codierung" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NDE">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Germany National coding scheme</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Code" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="DE" source="Desc">Eindeutiger Identifier je Objekttyp. </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="11"/>
          <xs:pattern value="D[A-Z\d]{9}\d"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="OriginalDokumentIdT">
    <xs:attribute name="v" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="35"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="OriginalErstellungszeitpunkt">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\d:[0-5]\dZ"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OriginalErstellungszeitpunktT">
    <xs:simpleContent>
      <xs:extension base="OriginalErstellungszeitpunkt">
        <xs:attribute name="v" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OriginalSenderT">
    <xs:attribute name="v" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="13"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Codierung" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="A10">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">GS1</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="NDE">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Germany National coding scheme</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PosT">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Codierung" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="A10">
                <xs:annotation>
                  <xs:documentation xml:lang="DE" source="Name">GS1</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="NDE">
                <xs:annotation>
                  <xs:documentation xml:lang="DE" source="Name">Germany National coding scheme (BDEW-Code)</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Pos" type="xs:nonNegativeInteger" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RD2.0_StammdatenT">
    <xs:sequence>
      <xs:element name="DocumentIdentification">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Die Identifikation des Dokuments (DocumentIdentification) hat je Absender und je Dokumententyp eindeutig zu sein.</xs:documentation>
          <xs:documentation source="Example">SD8756768</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DocumentType">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Mit DokumentTyp wird angegeben, um welche Art Dokument es sich handelt.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Z01">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">SO-GL Stammdaten-Meldung</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Z02">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">reduzierte Stammdaten</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Z03">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">angereicherte Stammdaten</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Z04">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Netzbetreiber-Aggregat-Stammdaten</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Erstellungszeitpunkt">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">
Hier ist der Erzeugungszeitpunkt des Dokuments anzugeben. Die Zeitangabe erfolgt in UTC. Der Zeitpunkt ist immer im Format 
yyyy-mm-ddThh:mm:ssZ anzugeben mit:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
          </xs:documentation>
          <xs:documentation source="Example">2018-08-09T17:34:02Z</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:dateTime">
            <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\d:[0-5]\dZ"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Sender" type="MarktrolleSenderT">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Dieses Element dient zur eindeutigen Identifikation des Senders über seine Marktpartner-ID.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Senderrolle">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Dieses Element dient zur Identifikation der Marktrolle des Senders.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="A18">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Grid operator</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="A27">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Resource Provider</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="A39">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Data provider</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:maxLength value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Empfaenger" type="MarktrolleEmpfaengerT"/>
      <xs:element name="Empfaengerrolle">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Dieses Element dient zur Identifikation der Marktrolle des Empfängers.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="A18">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Grid operator</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="A39">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="Name">Data provider</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="RefDokumentID" type="RefDokumentIDT" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">Referenz auf Document ID der ursprünglichen Nachricht</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginalSender" type="OriginalSenderT" minOccurs="0"/>
      <xs:element name="OriginalDokumentID" type="OriginalDokumentIdT" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">Referenz auf Document ID des letzten Senders</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginalErstellungszeitpunkt" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">Nutzung nur bei Weiterleitung</xs:documentation>
          <xs:documentation xml:lang="DE" source="Remark">Zeitpunkt in UTC gemäß Pattern</xs:documentation>
          <xs:documentation xml:lang="DE" source="Desc">
Das Format yyyy-mm-ddThh:mm:ssZ ist anzugeben mit:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
          </xs:documentation>
          <xs:documentation source="Example">2018-08-09T17:34:02Z</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:dateTime">
            <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\d:[0-5]\dZ"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Gueltig_ab">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">
Das Format yyyy-mm-ddThh:mm:ssZ ist anzugeben mit:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
          </xs:documentation>
          <xs:documentation source="Example">2018-08-09T17:34:02Z</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:dateTime">
            <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\d:[0-5]\dZ"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Meldungsstatus" type="Meldungsstatus" minOccurs="1"/>
      <xs:element name="SR_Objekt" type="ObjektTyp_SR_T" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CR_Objekt" type="ObjektTyp_CR_T" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SG_Objekt" type="ObjektTyp_SG_T" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="DtdBDEWNachrichtenVersion" type="xs:string" fixed="1.1" use="required"/>
  </xs:complexType>
  <xs:complexType name="RefDokumentIDT">
    <xs:attribute name="v">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="35"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="Regelzone">
    <xs:restriction base="xs:string">
      <xs:enumeration value="10YDE-ENBW-----N">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">TransnetBW</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10YDE-EON------1">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">Tennet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10YDE-RWENET---I">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">Amprion</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10YDE-VE-------2">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">50Hertz</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10YFLENSBURG---3">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Name">Flensburg</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:length value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SG_Objekt_ReferenzT">
    <xs:annotation>
      <xs:documentation xml:lang="DE" source="Desc">Referenz der enthaltenen Steuergruppen</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Codierung" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="NDE">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Germany National coding scheme</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:pattern value="\c+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Code" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="11"/>
          <xs:pattern value="B[A-Z\d]{9}\d"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="SpannungsebeneT">
    <xs:attribute name="Code" use="required" form="unqualified">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="Z01">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Höchstspannung</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Z02">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Hochspannung</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Z03">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Mittelspannung</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Z04">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Niederspannung</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="SR_Objekt_ReferenzT">
    <xs:annotation>
      <xs:documentation xml:lang="DE" source="Desc">Referenz der enthaltenen Steuerbaren Ressourcen</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Codierung" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="NDE">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Germany National coding scheme</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:pattern value="\c+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Code" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="11"/>
          <xs:pattern value="C[A-Z\d]{9}\d"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="SteuerbarkeitListe">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:fractionDigits value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SteuerbarkeitSchritteType">
    <xs:attribute name="Einheit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="MAW">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">megawatt</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="P1">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">percent</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Schrittweite" type="SteuerbarkeitListe" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="DE" source="Desc">
Bei der Einheit MAW gilt der Wertebereich 0,000 bis 999999,999 (max. 3 Nachkommastellen) mit dem Pattern \d{0,6}(\.[\d]{1,3})?

Bei der Einheit P1 gilt der Wertebereich 0 bis 100 (ohne Nachkommastellen) mit dem Pattern 100|\d{1,2}
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Max" type="SteuerbarkeitListe" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="DE" source="Desc">
Bei der Einheit MAW gilt der Wertebereich 0,000 bis 999999,999 (max. 3 Nachkommastellen) mit dem Pattern \d{0,6}(\.[\d]{1,3})?

Bei der Einheit P1 gilt der Wertebereich 0 bis 100 (ohne Nachkommastellen) mit dem Pattern 100|\d{1,2}
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Min" type="SteuerbarkeitListe" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="DE" source="Desc">
Bei der Einheit MAW gilt der Wertebereich 0,000 bis 999999,999 (max. 3 Nachkommastellen) mit dem Pattern \d{0,6}(\.[\d]{1,3})?

Bei der Einheit P1 gilt der Wertebereich 0 bis 100 (ohne Nachkommastellen) mit dem Pattern 100|\d{1,2}
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="SteuerbarkeitStufenT">
    <xs:sequence>
      <xs:element name="Einzelstufe" type="SteuerbarkeitListe" minOccurs="2" maxOccurs="10">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">
Bei der Einheit MAW gilt der Wertebereich 0,000 bis 999999,999 (max. 3 Nachkommastellen) mit dem Pattern \d{0,6}(\.[\d]{1,3})?

Bei der Einheit P1 gilt der Wertebereich 0 bis 100 (ohne Nachkommastellen) mit dem Pattern 100|\d{1,2}
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Einheit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="MAW">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">megawatt</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="P1">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">percent</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="SteuerbarkeitT">
    <xs:sequence>
      <xs:element name="Stufen" type="SteuerbarkeitStufenT" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Schritte" type="SteuerbarkeitSchritteType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Fixierung" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="EN" source="Desc">Die Fixierung gibt die Möglichkeit zur Beschränkung der Fahrweise (nach oben, nach unten oder auf einen bestimmten Wert) der Steuerbaren Ressource an. Bei dargebotsabhängigen Einspeisungen bedeutet z.B. der Code Z02 eine Limitierung nach oben, d.h. wenn in einem Abruf ein Wert von x vorgegeben wird, darf die Ressource diesen Wert nicht überschreiten, aber gemäß Dargebot unterschreiten. </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Z01">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">exakt</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Z02">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">max</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Z03">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">min</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Technische_Parameter_SR_T">
    <xs:sequence>
      <xs:element name="Fahrbare_Mindesterzeugungsleistung" type="LeistungT" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Mindestleistung enthält die dauerhaft minimal elektrisch stabil erzeugbare Leistung unter Normbedingungen in MW.</xs:documentation>
          <xs:documentation source="Example">50</xs:documentation>
          <xs:documentation xml:lang="DE" source="Desc">Wertebereich 0,000 bis 999999,999 (max. 3 Nachkommastellen)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Mindestbetriebszeit" type="ZeitT" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Mindestbetriebszeit enthält den typischen Zeitraum in Minuten, innerhalb dessen die Anlage nach erfolgtem Start mindestens Leistung in das Netz einspeisen muss.</xs:documentation>
          <xs:documentation source="Example">30</xs:documentation>
          <xs:documentation source="Abhängigkeit">nur bei thermischen SEE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Mindeststillstandszeit" type="ZeitT" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">nur bei thermischen SEE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Anfahrzeit_kalt" type="ZeitT" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">nur bei thermischen SEE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Anfahrzeit_warm" type="ZeitT" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">nur bei thermischen SEE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Hochfahrzeit_kalt" type="ZeitT" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">nur bei thermischen SEE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Hochfahrzeit_warm" type="ZeitT" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">nur bei thermischen SEE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Abfahrzeit" type="ZeitT" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Abfahrzeit enthält den typischen Zeitraum in Minuten, innerhalb dessen ausgehend von der Mindestwirkleistungseinspeisung eine Netztrennung erreicht wird.</xs:documentation>
          <xs:documentation source="Example">45</xs:documentation>
          <xs:documentation source="Abhängigkeit">nur bei thermischen SEE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Lastgradient_Nennleistung" type="GradientT" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">
Lastgradient_Nennleistung enthält die durchschnittliche Leistungsänderungsgeschwindigkeit bezogen auf einen Betriebszustand bei Leistungserhöhung, abgeleitet aus der Zeitdauer der Leistungsänderung zwischen der minimalen Produktionsleistung bis zur Nennproduktionsleistung in %/min oder MW/min.
Bei der Einheit Z02 = MW/min gilt der Wertebereich 0,000 bis 999999,999 (max. 3 Nachkommastellen) mit dem Pattern \d{0,6}(\.[\d]{1,3})?

Bei der Einheit Z01 = %/min gilt der Wertebereich 0 bis 100 (ohne Nachkommastellen) mit dem Pattern 100|\d{1,2}
          </xs:documentation>
          <xs:documentation source="Example">2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Lastgradient_Mindestleistung" type="GradientT" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">
Lastgradient_Mindestleistung enthält die durchschnittliche Leistungsänderungsgeschwindigkeit bezogen auf einen Betriebszustand bei Leistungsreduzierung, abgeleitet aus der Zeitdauer der Leistungsänderung zwischen der Nennproduktionsleistung bis zur minimalen Produktionsleistung in %/min oder MW/min.
Bei der Einheit Z02 = MW/min gilt der Wertebereich 0,000 bis 999999,999 (max. 3 Nachkommastellen) mit dem Pattern \d{0,6}(\.[\d]{1,3})?

Bei der Einheit Z01 = %/min gilt der Wertebereich 0 bis 100 (ohne Nachkommastellen) mit dem Pattern 100|\d{1,2}
          </xs:documentation>
          <xs:documentation source="Example">2</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Technische_Parameter_TR_T">
    <xs:sequence>
      <xs:element name="Nettonennleistung_Prod" type="LeistungT" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Example">150</xs:documentation>
          <xs:documentation xml:lang="DE" source="Remark">Nur für SEE oder SSE </xs:documentation>
          <xs:documentation xml:lang="DE" source="Desc">Wertebereich 0,000 bis 999999,999 (max. 3 Nachkommastellen)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Nettonennleistung_Verb" type="LeistungT" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Example">25</xs:documentation>
          <xs:documentation xml:lang="DE" source="Remark">Nur für SSE</xs:documentation>
          <xs:documentation xml:lang="DE" source="Desc">Wertebereich 0,000 bis 999999,999 (max. 3 Nachkommastellen)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Nettoengpassleistung_Prod" type="LeistungT" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Wertebereich 0,000 bis 999999,999 (max. 3 Nachkommastellen)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Nettoengpassleistung_Verb" type="LeistungT" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Wertebereich 0,000 bis 999999,999 (max. 3 Nachkommastellen)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Bruttonennleistung" type="LeistungT" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Desc">Wertebereich 0,000 bis 999999,999 (max. 3 Nachkommastellen)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Wechselrichterleistung_kumuliert" type="LeistungT" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">Für SEE EE Solar</xs:documentation>
          <xs:documentation xml:lang="DE" source="Desc">Wertebereich 0,000 bis 999999,999 (max. 3 Nachkommastellen)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Absenkung_70" type="IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">Für SEE EE Solar (70%-Absenkung)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Anlagentyp" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">Für SEE EE Wind</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Nabenhoehe" type="NabenhoeheT" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">Für SEE EE Wind</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Geokoordinaten" type="GeokoordinatenT" minOccurs="0"/>
      <xs:element name="Wirkungsgrad_Speicher" type="WirkungsgradT" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">Nur für SSE</xs:documentation>
          <xs:documentation xml:lang="DE" source="Desc">Wertebereich 0 bis 100</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Nutzbarer_Energieinhalt_Speichers" type="nutzbarer_EnergieinhaltT" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">Nur für SSE</xs:documentation>
          <xs:documentation xml:lang="DE" source="Remark">Maximal möglicher Energieinhalt eines Speichers, der zur Verfügung steht, unabhängig vom Speichermedium und bezogen auf die vom Speichersystem lieferbare elektrische Energie.</xs:documentation>
          <xs:documentation xml:lang="DE" source="Desc">Wertebereich 0,000000 bis 999999,999999 (max. 6 Nachkommastellen)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Wirkleistung_Einspeichern_max" type="LeistungT" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">Nur für SSE</xs:documentation>
          <xs:documentation xml:lang="DE" source="Desc">Wertebereich 0,000 bis 999999,999 (max. 3 Nachkommastellen)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Wirkleistung_Ausspeichern_max" type="LeistungT" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Abhängigkeit">Nur für SSE</xs:documentation>
          <xs:documentation xml:lang="DE" source="Desc">Wertebereich 0,000 bis 999999,999 (max. 3 Nachkommastellen)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TranchengrößeT">
    <xs:annotation>
      <xs:documentation xml:lang="DE" source="Desc">
Die Mengenangabe erfolgt in Prozent. Es wird die Teilmenge der erzeugten Energiemenge einer erzeugenden Marktlokation
angegeben, die von einem Lieferanten aufgenommen wird. Damit kann eine Aufteilung der gesamten Menge einer erzeugenden
Marktlokation auf mehrere Lieferanten in Tranchen erfolgen. Die Angabe der Teilmenge kann maximal zwei Nachkommastellen haben. 
Der Wert muss größer 0 und kleiner oder gleich 100 sein. Bei einer bilateral vereinbarten Aufteilung ist keine Größe anzugeben.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="Einheit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="P1">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">percent</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Z01">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">bilateral vereinbarte Aufteilung</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Größe" type="xs:decimal" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TrancheT">
    <xs:sequence>
      <xs:element name="Bilanzkreis_Tranche" type="Bilanzkreis" minOccurs="1"/>
      <xs:element name="Lieferant_Tranche" type="MarktpartnerT" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="DE" source="Remark">MP-ID des Lieferanten der Tranche</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Tranchengröße" type="TranchengrößeT" minOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Code" type="Marktlokation_ID_T" use="required"/>
  </xs:complexType>
  <xs:simpleType name="txClusterT">
    <xs:restriction base="xs:time">
      <xs:pattern value="([0-2]):([0-5]\d):([0-5]\d)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Umspannung_der_MarktlokationT">
    <xs:attribute name="Code" use="required" form="unqualified">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="Z01">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Hös/HS Umspannung</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Z02">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">HS/MS Umspannung</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Z03">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">MS/NS Umspannung</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="WirkungsgradT">
    <xs:simpleContent>
      <xs:extension base="Leistung">
        <xs:attribute name="Einheit" use="required" form="unqualified">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="P1">
                <xs:annotation>
                  <xs:documentation xml:lang="DE" source="Name">percent</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="Zeit">
    <xs:restriction base="xs:nonNegativeInteger"/>
  </xs:simpleType>
  <xs:complexType name="ZeitT">
    <xs:simpleContent>
      <xs:extension base="Zeit">
        <xs:attribute name="Einheit" use="required" form="unqualified">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="Z01">
                <xs:annotation>
                  <xs:documentation xml:lang="DE" source="Name">Minuten</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ZuordnungT_Speicher">
    <xs:attribute name="Codierung" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="NDE">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Germany National coding scheme </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:pattern value="\c+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Code" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="33"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ZuordnungT_TR">
    <xs:attribute name="Codierung" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="NDE">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Name">Germany National coding scheme (BDEW-Code)</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:pattern value="\c+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Code" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="11"/>
          <xs:pattern value="[A-D][A-Z\d]{10}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
