edi_energy_de/past/urn-entsoe-eu-local-extension-types-informatorischeLesefassung1.0a_20230331_20220401.xsd

<!-- Diese XSD-Datei dient als informatorische Lesefassung und baut auf den konsultierten Formatbeschreibungen und Anwendungstabellen der XML-Datenformate für den Redispatch 2.0 auf. 
Diese XSD-Datei wird bis auf Weiteres rein informatorisch und ergänzend veröffentlicht. Der BDEW behält sich vor, in Zukunft eine kostenpflichtige Veröffentlichung der XSD-Datei einzuführen. -->
<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
  <xsd:simpleType name="LocalAllocationModeType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalAnalogType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalAssetType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="Z01">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Batteriespeicher</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalAuctionType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalBusinessType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="Z01">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Anfahrkosten</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z02">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Kosten für zusätzliche Betriebsstunde durch Redispatch</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z03">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Vermiedene Netzentgelte (Arbeitserlöse)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z05">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">wärmegebundenes Redispatch-Vermögen</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z06">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Zusatzkosten für -wRDV</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalCategoryType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalClassificationType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalCodingSchemeType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalContractType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalCoordinateSystemType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalCurrencyType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="BAM"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalCurveType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalDirectionType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalDocumentType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="Z01">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">SO-GL Stammdaten-Meldung</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z02">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">reduzierte Stammdaten</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z03">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">angereicherte Stammdaten</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z04">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Netzbetreiber-Aggregat-Stammdaten</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z05">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Kostenblatt</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z06">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Beschaffungsvorbehalt</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z07">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Beschaffungsanforderung energetischer Ausgleich</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z08">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Sensitivitätendokument</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z09">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Abrufinformationsdokument</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z10">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">ESS-BK-Fahrplananmeldung mit verkürzter Vorlaufzeit, die Grenze DE-FR betreffend ("Balancing Mechanism")</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z11">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Probeplanungsdaten</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z12">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Prognosezeitreihendaten</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalEicType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalEnergyProductType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="8716867000016"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalHVDCModeType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalIndicatorType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalMarketProductType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalMessageType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="Z01">
        <xsd:annotation>
          <xsd:documentation source="CodeDescription/Definition"/>
          <xsd:documentation source="CodeDescription/Title">SOGL-Stammdaten-Meldung</xsd:documentation>
          <xsd:documentation source="CodeDescription"/>
          <xsd:documentation xml:lang="DE" source="Name">SOGL-Stammdaten-Meldung</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z02">
        <xsd:annotation>
          <xsd:documentation source="CodeDescription/Definition"/>
          <xsd:documentation source="CodeDescription/Title">reduzierte Stammdaten</xsd:documentation>
          <xsd:documentation source="CodeDescription"/>
          <xsd:documentation xml:lang="DE" source="Name">reduzierte Stammdaten</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z03">
        <xsd:annotation>
          <xsd:documentation source="CodeDescription/Definition"/>
          <xsd:documentation source="CodeDescription/Title">angereicherte Stammdaten</xsd:documentation>
          <xsd:documentation source="CodeDescription"/>
          <xsd:documentation xml:lang="DE" source="Name">angereicherte Stammdaten</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z04">
        <xsd:annotation>
          <xsd:documentation source="CodeDescription/Definition"/>
          <xsd:documentation source="CodeDescription/Title">Netzbetreiber-Aggregat-Stammdaten</xsd:documentation>
          <xsd:documentation source="CodeDescription"/>
          <xsd:documentation xml:lang="DE" source="Name">Netzbetreiber-Aggregat-Stammdaten</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z05">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Kostenblatt</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z06">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Beschaffungsvorbehalt</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z07">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Beschaffungsanforderung energetischer Ausgleich</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z08">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Sensitivitätendokument</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z09">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Abrufinformationsdokument</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z10">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">ESS-BK-Fahrplananmeldung mit verkürzter Vorlaufzeit, die Grenze DE-FR betreffend („Balancing Mechanism“)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z11">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Probeplanungsdaten</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z12">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Prognosezeitreihendaten</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalObjectAggregationType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalPaymentTermsType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalPriceCategoryType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalPriceDirectionType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalProcessType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalQualityType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalReasonCodeType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="Z01">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Außeneinfluss, der auch nicht durch Nutzung des §13 Absatz 2 EnWG beeinflusst werden kann.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z02">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Einschränkungen auf Grund von Energielieferverpflichtungen (z. B. Wärme und Dampf; exklusive Strom).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z03">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Einschränkungen auf Grund behördlicher oder umweltrechtlicher Vorgaben.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z04">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">einseitige Fixierung</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z05">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">komplette Fixierung</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z06">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Sonderredispatch</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z07">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Einschränkungen auf Grund netzbedingter Störung</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z08">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Einschränkung auf Grund marktbedingter Anpassung </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z09">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">einseitige Fixierung nach oben</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z10">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">einseitige Fixierung nach unten</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z11">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Selbstversorgung mit EE- und KWK-Strom</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z99">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Platzhalter</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalRightsType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalRoleType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="Z01">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Lieferant</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalStatusType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="Z01">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Normal-/Monobetrieb</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z02">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Duobetrieb</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z03">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">kalt</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z04">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">warm</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z05">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">heiß</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalTarifTypeType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalUnitMultiplier">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalUnitOfMeasureType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="Z01">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Euro pro Stück</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z02">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Euro pro Megawattstunde</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z03">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE" source="Name">Euro pro Stunde</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalUnitSymbol">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="AMP"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
