edi_energy_de/FV2310/XSD_1.0a_20231001_20240328_20231001_oooo_8727.xsd

<!-- Diese XSD-Datei baut auf den konsultierten Formatbeschreibungen der XML-Datenformate für den Redispatch 2.0 auf. Der BDEW übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit, Qualität oder wettbewerbsrechtliche Zulässigkeit der bereitgestellten Informationen.
Der BDEW behält sich vor, in Zukunft eine kostenpflichtige Veröffentlichung der XSD-Datei einzuführen. -->
<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">
  <xs:element name="Beschaffungsvorbehalt">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DocumentIdentification">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Die DocumentIdentification hat je Absender und je Dokumententyp eindeutig zu sein. Bei der Bildung der Identifikation ist auf Groß- und Kleinschreibung zu achten (case-sensitive).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
                  <xs:whiteSpace value="preserve"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="DocumentVersion">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Die DocumentVersion (auch als Meldungsversion bezeichnet) gibt die Version eines Dokumentes an, welches über die DocumentIdentification identifiziert wird. Mit jeder Aktualisierung zu einem Erfüllungstag wird die Versionsangabe kontinuierlich, mit 1 beginnend, hochgezählt. Die jeweils höchste DocumentVersion kennzeichnet die aktuelle Version.</xs:documentation>
            <xs:documentation xml:lang="DE">Maximum 999 gemäß Pattern</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:pattern value="[1-9][0-9]{0,2}"/>
                  <xs:whiteSpace value="collapse"/>
                  <xs:maxInclusive value="999"/>
                  <xs:minInclusive value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="DocumentType">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Der DocumentType dient zur eindeutigen Kennzeichnung des Dokumenttyps.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="Z06">
                    <xs:annotation>
                      <xs:documentation xml:lang="DE">Beschaffungsvorbehalt</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="ProcessType">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Der ProcessType gibt an, in welchem Prozess dieses Dokument eingesetzt wird.</xs:documentation>
            <xs:documentation xml:lang="DE">Forecast</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="A14">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>Forecast</xs:documentation>
                      <xs:documentation>The data contained in the document are to be handled in short, medium, long term forecasting process.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="SenderIdentification">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Dieses Element dient zur eindeutigen Identifikation des Senders über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer vergebenden Organisation gehören muss.</xs:documentation>
            <xs:documentation xml:lang="DE">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="DE">13 Zeichen</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
                  <xs:pattern value="\d{13}"/>
                  <xs:whiteSpace value="preserve"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="codingScheme" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="DE">Das codingScheme definiert das Codierungssystem für den genutzten Identifikator.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="A10">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>GS1</xs:documentation>
                      <xs:documentation>The coding scheme for the preceding attribute is the Global Location Number (GLN 13) or Global Service Relation Number (GSRN 18), maintained by GS1.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="NDE">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>Germany National coding scheme</xs:documentation>
                      <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="SenderRole">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Dieses Element dient zur Angabe der Marktrolle des Absenders.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="A18">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>Grid operator</xs:documentation>
                      <xs:documentation>Refer to role model definitions in the ENTSO-E Harmonised Role Model Document.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="A39">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>Data provider</xs:documentation>
                      <xs:documentation>A party that is responsible for providing information to a central authority.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="ReceiverIdentification">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Dieses Element dient zur eindeutigen Identifikation des Empfängers über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer vergebenden Organisation gehören muss.</xs:documentation>
            <xs:documentation xml:lang="DE">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="DE">13 Zeichen</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
                  <xs:pattern value="\d{13}"/>
                  <xs:whiteSpace value="preserve"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="codingScheme" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="DE">Das codingScheme definiert das Codierungssystem für den genutzten Identifikator.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="A10">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>GS1</xs:documentation>
                      <xs:documentation>The coding scheme for the preceding attribute is the Global Location Number (GLN 13) or Global Service Relation Number (GSRN 18), maintained by GS1.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="NDE">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>Germany National coding scheme</xs:documentation>
                      <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="DocumentDateTime">
          <xs:annotation>
            <xs:documentation xml:lang="DE">
Hier ist der Erzeugungszeitpunkt des Dokuments (in der jeweiligen Version) anzugeben. Die Zeitangabe erfolgt in UTC. 

Der Zeitpunkt ist immer im Format yyyy-mm-ddThh:mm:ssZ anzugeben mit:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
            </xs:documentation>
            <xs:documentation xml:lang="DE">Zeitpunkt in UTC gemäß Pattern</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:annotation>
                <xs:documentation xml:lang="DE">Zeitpunkt in UTC gemäß Pattern</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:dateTime">
                  <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\d:[0-5]\dZ"/>
                  <xs:whiteSpace value="collapse"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="ReceiverRole">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Dieses Element dient zur Angabe der Marktrolle des Empfängers.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="A18">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>Grid operator</xs:documentation>
                      <xs:documentation>Refer to role model definitions in the ENTSO-E Harmonised Role Model Document.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="A39">
                    <xs:annotation>
                      <xs:documentation></xs:documentation>
                      <xs:documentation>Data provider</xs:documentation>
                      <xs:documentation>A party that is responsible for providing information to a central authority.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="TimePeriodCovered">
          <xs:annotation>
            <xs:documentation xml:lang="DE">
Der Zeitraum entspricht immer dem Erfüllungstag (ein Kalendertag von 0:00 Uhr lokaler deutscher Zeit des Erfüllungstages bis 0:00 Uhr lokaler deutscher Zeit des unmittelbar auf den Erfüllungstag folgenden Tages), für den die Daten gesendet werden. 

Das Zeitintervall (von Beginn des Erfüllungstages bis Ende des Erfüllungstages) ist im UTC-Format yyyy-mm-ddThh:mmZ/yyyy-mmddThh:mmZ wie folgt anzugeben:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
/ Trennzeichen zwischen beiden Zeitangaben
            </xs:documentation>
            <xs:documentation xml:lang="DE">Tag in UTC gemäß Pattern</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="v" use="required">
              <xs:annotation>
                <xs:documentation>
ISO 8601 time intervals are always expressed in the form 
			yyyy-mm-ddThh:mmZ/yyyy-mm-ddThh:mmZ
			Note: The minimum XML form of dateTime is yyyy-mm-ddThh:mm:ssZ
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\dZ/20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\dZ"/>
                  <xs:whiteSpace value="preserve"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="PlannedResourceTimeSeries" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="DE">Der Absender kann so viele Zeitreihen wie nötig zur Erfüllung seiner Datenlieferpflichten in einem Dokument übertragen. Einmal enthaltene Zeitreihen dürfen bei Aktualisierungen nicht entfernt werden. Sofern eine Zeitreihe irrtümlich übertragen wurde, kann diese ab der nächsten höheren Version mit Nullwerten aktualisiert werden.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TimeSeriesIdentification">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Eindeutiger Identifikator einer Zeitreihe. Die TimeSeriesIdentification (auch als Zeitreihenreferenznummer bezeichnet) darf je DocumentIdentification nur einmal vorkommen und wird vom Absender für genau eine Kombination aus BusinessType und AcquiringArea vergeben.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35"/>
                        <xs:whiteSpace value="preserve"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="BusinessType">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Der BusinessType definiert den Zeitreihentyp.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="DE">Bedeutung der BT-Codes siehe Abhängigkeitsmatrizes oder Codelist der ENTSOE</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="B37">
                          <xs:annotation>
                            <xs:documentation></xs:documentation>
                            <xs:documentation>Constraint situation</xs:documentation>
                            <xs:documentation>
The timeseries describes the constraint situation for a given TimeInterval.
A constraint situation can be: 
- composed of a list of network elements in outage associated for each outage to a list of network elements on which remedial actions have been carried out accordingly to contingency process 
- or it can be an external constraint.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="AcquiringArea">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Angabe des Gebietes, für welches der Beschaffungsvorbehalt gilt.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="10YCB-GERMANY--8"/>
                        <xs:maxLength value="16"/>
                        <xs:pattern value="10Y[A-Z,\d,-]{13}"/>
                        <xs:whiteSpace value="preserve"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="codingScheme" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="DE">Das codingScheme definiert das Codierungssystem für den genutzten Identifikator.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="A01">
                          <xs:annotation>
                            <xs:documentation></xs:documentation>
                            <xs:documentation>EIC</xs:documentation>
                            <xs:documentation>The coding scheme is the Energy Identification Coding Scheme (EIC), maintained by ENTSO-E.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="OriginalSenderIdentification" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Unter dem Redispatch 2.0 ist die 13-stellige MP-ID einzutragen</xs:documentation>
                  <xs:documentation>Nutzung nur bei Weiterleitung</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="DE">13 Zeichen</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="16"/>
                        <xs:pattern value="\d{13}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="codingScheme" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="A10">
                          <xs:annotation>
                            <xs:documentation></xs:documentation>
                            <xs:documentation>GS1</xs:documentation>
                            <xs:documentation>The coding scheme for the preceding attribute is the Global Location Number (GLN 13) or Global Service Relation Number (GSRN 18), maintained by GS1.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="NDE">
                          <xs:annotation>
                            <xs:documentation></xs:documentation>
                            <xs:documentation>Germany National coding scheme</xs:documentation>
                            <xs:documentation>The National coding scheme of the country in question.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="OriginalDocumentIdentification" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Nutzung nur bei Weiterleitung</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="OriginalDocumentVersion" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Nutzung nur bei Weiterleitung</xs:documentation>
                  <xs:documentation xml:lang="DE">Maximum 999 gemäß Pattern</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:integer">
                        <xs:pattern value="[1-9][0-9]{0,2}"/>
                        <xs:maxInclusive value="999"/>
                        <xs:minInclusive value="1"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="OriginalDocumentDateTime" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Nutzung nur bei Weiterleitung</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="DE">Zeitpunkt in UTC gemäß Pattern</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:dateTime">
                        <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\d:[0-5]\dZ"/>
                        <xs:whiteSpace value="collapse"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="OriginalTimeSeriesIdentification" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Nutzung nur bei Weiterleitung</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="v" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Period">
                <xs:annotation>
                  <xs:documentation xml:lang="DE">Das Element Period darf nur einmal je TimeSeriesIdentification angeführt werden. Eine Aufteilung der Werte auf mehrere Period - Elemente unter einer TimeSeriesIdentification ist nicht zulässig.</xs:documentation>
                  <xs:documentation xml:lang="DE">ERRP-Guide: 1…n</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TimeInterval">
                      <xs:annotation>
                        <xs:documentation>Das Zeitintervall muss der Angabe im Element TimePeriodCovered entsprechen und sich innerhalb des durch das Element TimePeriodCovered definierten Zeitraums der Nachricht befinden. Der Startzeitpunkt des TimeIntervals ist spätestens die nächste volle Viertelstunde (basierend auf DocumentDateTime) und frühestens der Startzeitpunkt der TimePeriodCovered (00:00 Uhr des Erfüllungstages). Der Endzeitpunkt des TimeIntervals entspricht immer dem Endzeitpunkt der TimePeriodCovered (00:00 Uhr des auf den Erfüllungstag unmittelbar folgenden Tages).</xs:documentation>
                        <xs:documentation xml:lang="DE">
Hier erfolgt die Angabe des Zeitintervalls für die zugehörige Periode in der Zeitreihe. 
Die Angabe erfolgt im UTC-Format yyyy-mmddThh: mmZ/yyyy-mm-ddThh:mmZ: 

yyyy vier Ziffern für die Jahresangabe 
mm zwei Ziffern für die Monatsangabe 
dd zwei Ziffern für die Tagesangabe 
hh zwei Ziffern für die Stundenangabe 
mm zwei Ziffern für die Minutenangabe 
T Trennzeichen zwischen Datum und Uhrzeit 
Z Verweis auf UTC 
/ Trennzeichen zwischen beiden Zeitangaben
                        </xs:documentation>
                        <xs:documentation xml:lang="DE">Tag in UTC gemäß Pattern</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="v" use="required">
                          <xs:annotation>
                            <xs:documentation>
ISO 8601 time intervals are always expressed in the form 
			yyyy-mm-ddThh:mmZ/yyyy-mm-ddThh:mmZ
			Note: The minimum XML form of dateTime is yyyy-mm-ddThh:mm:ssZ
                            </xs:documentation>
                            <xs:documentation xml:lang="DE">Tag in UTC gemäß Pattern</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\dZ/20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\dZ"/>
                              <xs:whiteSpace value="preserve"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Resolution">
                      <xs:annotation>
                        <xs:documentation xml:lang="DE">Angabe der Zeitintervallgröße für die Positionen (Elemente Pos) der Zeitreihe.</xs:documentation>
                        <xs:documentation xml:lang="DE">Viertelstundenauflösung</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="v" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:duration">
                              <xs:enumeration value="PT15M">
                                <xs:annotation>
                                  <xs:documentation xml:lang="DE">Viertelstundenauflösung</xs:documentation>
                                </xs:annotation>
                              </xs:enumeration>
                              <xs:whiteSpace value="collapse"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Interval" maxOccurs="100">
                      <xs:annotation>
                        <xs:documentation xml:lang="DE">Das Element Interval ist in der Regel maximal 96 Mal wiederholbar, außer an den Tagen der Zeitumstellung. An diesen Tagen beträgt die maximale Wiederholbarkeit 92 bzw. 100. Die Nummerierung der einzelnen Positionen muss bei 1 beginnen und streng monoton steigend erfolgen, bis alle 1/4-Stundenwerte, die laut TimeInterval übermittelt werden, abgedeckt sind.</xs:documentation>
                        <xs:documentation xml:lang="DE">ERRP-Guide: 1…n</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Pos">
                            <xs:annotation>
                              <xs:documentation xml:lang="DE">Angabe der Position des im nachfolgenden Status-Element übertragenen Wertes in der Zeitreihe.</xs:documentation>
                              <xs:documentation xml:lang="DE">Wert zwischen/incl. 1 und 100 gemäß Pattern</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="v" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:integer">
                                    <xs:pattern value="100|[1-9]\d?"/>
                                    <xs:whiteSpace value="collapse"/>
                                    <xs:maxInclusive value="100"/>
                                    <xs:minInclusive value="1"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Status">
                            <xs:annotation>
                              <xs:documentation xml:lang="DE">Das Element Status wird genutzt, um den konkreten Beschaffungsvorbehalt je Viertelstunde auszusprechen. Dabei kann entweder kein (Code A21) oder ein Abeschaffungsvorbehalt (Code A22) vorliegen.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="v" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:NMTOKEN">
                                    <xs:enumeration value="A21">
                                      <xs:annotation>
                                        <xs:documentation></xs:documentation>
                                        <xs:documentation>Open</xs:documentation>
                                        <xs:documentation>The action being described consists of disconnecting the network element  to the transmission network.</xs:documentation>
                                      </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="A22">
                                      <xs:annotation>
                                        <xs:documentation></xs:documentation>
                                        <xs:documentation>Close</xs:documentation>
                                        <xs:documentation>The action being described consists of connecting the network element  to the transmission network.</xs:documentation>
                                      </xs:annotation>
                                    </xs:enumeration>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="DtdBDEWNachrichtenVersion" fixed="1.0a" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
