edi_energy_de/FV2304/Unavailability_MarketDocumentXSD-informatorischeLesefassung1.0b_20230930_20221001.xsd

<!-- Diese XSD-Datei dient als informatorische Lesefassung und baut auf den konsultierten Formatbeschreibungen und Anwendungstabellen der XML-Datenformate für den Redispatch 2.0 auf. 
Diese XSD-Datei wird bis auf Weiteres rein informatorisch und ergänzend veröffentlicht. Der BDEW behält sich vor, in Zukunft eine kostenpflichtige Veröffentlichung der XSD-Datei einzuführen. -->
<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:cl="urn:entsoe.eu:wgedi:codelists"
    xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
    xmlns="urn:iec62325.351:tc57wg16:451-6:outagedocument:3:0"
    xmlns:cimp="http://www.iec.ch/cimprofile"
    targetNamespace="urn:iec62325.351:tc57wg16:451-6:outagedocument:3:0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
  <xs:import namespace="urn:entsoe.eu:wgedi:codelists" schemaLocation="../00_Ressourcenschemas_v72/urn-entsoe-eu-wgedi-codelists.xsd"/>
  <xs:element name="Unavailability_MarketDocument" type="Unavailability_MarketDocument"/>
  <xs:complexType name="Action_Status">
    <xs:sequence>
      <xs:element name="value" type="Status_String" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AreaID_String">
    <xs:simpleContent>
      <xs:extension base="AreaID_String-base">
        <xs:attribute name="codingScheme" type="cl:CodingSchemeTypeList" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AreaID_String-base">
    <xs:restriction base="xs:string">
      <xs:minLength value="16"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Asset_RegisteredResource">
    <xs:sequence>
      <xs:element name="mRID" type="ResourceID_String" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BusinessKind_String">
    <xs:restriction base="cl:BusinessTypeList">
      <xs:enumeration value="A01"/>
      <xs:enumeration value="A53"/>
      <xs:enumeration value="A54"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CurveType_String">
    <xs:restriction base="cl:CurveTypeList">
      <xs:enumeration value="A03"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ESMPVersion_String">
    <xs:restriction base="xs:integer">
      <xs:maxInclusive value="999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ESMP_ActivePower">
    <xs:simpleContent>
      <xs:extension base="ESMP_ActivePower-base">
        <xs:attribute name="unit" type="cl:UnitSymbol" fixed="MAW" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ESMP_ActivePower-base">
    <xs:restriction base="xs:float">
      <xs:pattern value="([0-9]+((\.[0-9])*))"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ESMP_DateTime">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\d:[0-5]\dZ"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ESMP_DateTimeInterval">
    <xs:sequence>
      <xs:element name="start" type="YMDHM_DateTime" minOccurs="1" maxOccurs="1"/>
      <xs:element name="end" type="YMDHM_DateTime" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ID_String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MarketRoleKind_String">
    <xs:restriction base="cl:RoleTypeList">
      <xs:enumeration value="A04"/>
      <xs:enumeration value="A18"/>
      <xs:enumeration value="A27"/>
      <xs:enumeration value="A39"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MeasurementUnitKind_String">
    <xs:restriction base="cl:UnitOfMeasureTypeList">
      <xs:enumeration value="MAW"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageKind_String">
    <xs:restriction base="cl:MessageTypeList">
      <xs:enumeration value="A67"/>
      <xs:enumeration value="A76"/>
      <xs:enumeration value="A80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PartyID_String">
    <xs:simpleContent>
      <xs:extension base="PartyID_String-base">
        <xs:attribute name="codingScheme" type="cl:CodingSchemeTypeList" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PartyID_String-base">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Point">
    <xs:sequence>
      <xs:element name="position" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="Position_Integer">
            <xs:pattern value="[1-9]\d{0,5}"/>
            <xs:maxInclusive value="999999"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="quantity" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Position_Integer">
    <xs:restriction base="xs:integer">
      <xs:maxInclusive value="999999"/>
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ProcessKind_String">
    <xs:restriction base="cl:ProcessTypeList">
      <xs:enumeration value="A14"/>
      <xs:enumeration value="A26"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Reason">
    <xs:sequence>
      <xs:element name="code" type="ReasonCode_String" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ReasonCode_String">
    <xs:restriction base="cl:ReasonCodeTypeList">
      <xs:enumeration value="B18">
        <xs:annotation>
          <xs:documentation source="CodeDescription/Title">Failure (Ausfall)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B19">
        <xs:annotation>
          <xs:documentation source="CodeDescription/Title">Foreseen maintenance (vorhergesehene Wartung)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B20">
        <xs:annotation>
          <xs:documentation source="CodeDescription/Title">Shutdown (Abschaltung)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Z01"/>
      <xs:enumeration value="Z02"/>
      <xs:enumeration value="Z03"/>
      <xs:enumeration value="Z07"/>
      <xs:enumeration value="Z08"/>
      <xs:enumeration value="Z11"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReasonText_String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ResourceID_String">
    <xs:simpleContent>
      <xs:extension base="ResourceID_String-base">
        <xs:attribute name="codingScheme" type="cl:CodingSchemeTypeList" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ResourceID_String-base">
    <xs:restriction base="xs:string">
      <xs:minLength value="11"/>
      <xs:maxLength value="33"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Series_Period">
    <xs:sequence>
      <xs:element name="timeInterval" type="ESMP_DateTimeInterval" minOccurs="1" maxOccurs="1"/>
      <xs:element name="resolution" type="xs:duration" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Point" type="Point" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Status_String">
    <xs:restriction base="cl:StatusTypeList">
      <xs:enumeration value="A13"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TimeSeries">
    <xs:sequence>
      <xs:element name="mRID" type="ID_String" minOccurs="1" maxOccurs="1"/>
      <xs:element name="original_sender_MarketParticipant.mRID" type="PartyID_String" minOccurs="0" maxOccurs="1"/>
      <xs:element name="original_document_mRID" type="ID_String" minOccurs="0" maxOccurs="1"/>
      <xs:element name="original_revisionNumber" type="ESMPVersion_String" minOccurs="0" maxOccurs="1"/>
      <xs:element name="original_createdDateTime" type="ESMP_DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation source="Example">2017-04-09T11:56:23Z</xs:documentation>
          <xs:documentation xml:lang="DE" source="Desc">
Hier ist der Erzeugungszeitpunkt des Dokuments (in der jeweiligen Version) anzugeben. Die Zeitangabe erfolgt in UTC. 
Der Zeitpunkt ist immer im Format yyyy-mm-ddThh:mm:ssZ anzugeben mit:
yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="original_timeseries_mRID" type="ID_String" minOccurs="0" maxOccurs="1"/>
      <xs:element name="businessType" type="BusinessKind_String" minOccurs="1" maxOccurs="1"/>
      <xs:element name="biddingZone_Domain.mRID" type="AreaID_String" minOccurs="1" maxOccurs="1"/>
      <xs:element name="start_DateAndOrTime.date" type="xs:date" minOccurs="1" maxOccurs="1"/>
      <xs:element name="start_DateAndOrTime.time" type="xs:time" minOccurs="1" maxOccurs="1"/>
      <xs:element name="end_DateAndOrTime.date" type="xs:date" minOccurs="1" maxOccurs="1"/>
      <xs:element name="end_DateAndOrTime.time" type="xs:time" minOccurs="1" maxOccurs="1"/>
      <xs:element name="quantity_Measure_Unit.name" type="MeasurementUnitKind_String" minOccurs="1" maxOccurs="1"/>
      <xs:element name="curveType" type="CurveType_String" minOccurs="1" maxOccurs="1"/>
      <xs:element name="production_RegisteredResource.mRID" type="ResourceID_String" minOccurs="0" maxOccurs="1"/>
      <xs:element name="production_RegisteredResource.pSRType.powerSystemResources.mRID" type="ResourceID_String" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Asset_RegisteredResource" type="Asset_RegisteredResource" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Available_Period" type="Series_Period" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Unavailability_MarketDocument">
    <xs:sequence>
      <xs:element name="mRID" type="ID_String" minOccurs="1" maxOccurs="1"/>
      <xs:element name="revisionNumber" type="ESMPVersion_String" minOccurs="1" maxOccurs="1"/>
      <xs:element name="type" type="MessageKind_String" minOccurs="1" maxOccurs="1"/>
      <xs:element name="process.processType" type="ProcessKind_String" minOccurs="1" maxOccurs="1"/>
      <xs:element name="createdDateTime" type="ESMP_DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation source="Example">2017-04-09T11:56:23Z</xs:documentation>
          <xs:documentation xml:lang="DE" source="Desc">
Hier ist der Erzeugungszeitpunkt des Dokuments (in der jeweiligen Version) anzugeben. Die Zeitangabe erfolgt in UTC. 
Der Zeitpunkt ist immer im Format yyyy-mm-ddThh:mm:ssZ anzugeben mit:
yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sender_MarketParticipant.mRID" type="PartyID_String" minOccurs="1" maxOccurs="1"/>
      <xs:element name="sender_MarketParticipant.marketRole.type" type="MarketRoleKind_String" minOccurs="1" maxOccurs="1"/>
      <xs:element name="receiver_MarketParticipant.mRID" type="PartyID_String" minOccurs="1" maxOccurs="1"/>
      <xs:element name="receiver_MarketParticipant.marketRole.type" type="MarketRoleKind_String" minOccurs="1" maxOccurs="1"/>
      <xs:element name="unavailability_Time_Period.timeInterval" type="ESMP_DateTimeInterval" minOccurs="1" maxOccurs="1"/>
      <xs:element name="docStatus" type="Action_Status" minOccurs="0" maxOccurs="1"/>
      <xs:element name="TimeSeries" type="TimeSeries" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Reason" type="Reason" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="DtdBDEWNachrichtenVersion" type="xs:string" fixed="1.0b"/>
  </xs:complexType>
  <xs:simpleType name="YMDHM_DateTime">
    <xs:restriction base="xs:string">
      <xs:pattern value="20(\d{2}(\-(0[13578]|1[02])\-(0[1-9]|[12]\d|3[01])|\-02\-(0[1-9]|1\d|2[0-8])|\-(0[469]|11)\-(0[1-9]|[12]\d|30))|([02468][048]|[13579][26])\-02\-(29))T([01]\d|2[0-3]):[0-5]\dZ"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
